[2019-03-15 13:49] p-a-s-c-a-l opened #1 "Avoid Cross-Origin Read Blocking (CORB)"
In reference to https://github.com/clarity-h2020/scenario-analysis/issues/11

Headers returned by EMIKAT REST API:
[code]

According to [this article](https://www.chromium.org/Home/chromium-security/corb-for-developers) you have to add an additional header: `X-Content-Type-Options: nosniff`.

[2019-03-18 15:25] humerh commented on #1
I have implemented this additional option: "X-Content-Type-Options →nosniff"

Please verify it.

[2019-03-19 10:42] p-a-s-c-a-l commented on #1
It works! Thanks, Heinrich!

[2019-03-27 10:41] patrickkaleta opened #3 "Damage level estimates table showing wrong calculations"
CLARITY impact table at https://csis.myclimateservice.eu/study/1/step/22/view/table shows unplausible results

E.g., the sum of all “old” people (D1++  D5)  is ca. 100k for 28° and ca. 20k for 34°. The rest moved out? :-D

Haet wave 34°, 6 days
people
Age>65
number of people
19,389
18,550
7,099
1,358
135

Heat wave 28°, 6 days
people
Age>65
number of people
43,278
41,406
15,846
3,032
301

[2019-03-27 10:50] bernhardsk commented on #3
Yes, they all moved out. It just was too hot for them. If you run the calculation for DC Sweden you will see that they are there now! ;)

This is due to the missing damage level probability functions (= vulnerability functions) from PLINIVS. We have/received only 1 set/table so far. Therefore we copied this 1 set multiple times in order to be able to calculate impact at all / also for other temper

[2019-03-27 10:57] patrickkaleta opened #2 "No impact maps shown on https://csis.myclimateservice.eu/study/1/step/22/view/maps"
At first this map widget shows nothing, then after a VERY long wait just a few tiles appear.

![risk-impact - map](https://user-images.githubusercontent.com/42167036/55070757-40d4b680-5087-11e9-878e-4fb9a553da13.png)

This is for the "damage level 1, event 1". The naming convention is also strange; events have names but these names either aren't used or the widget isn't even aware of them?

[2019-03-27 11:09] stefanon commented on #3
@bernhardsk Hi Bernard, I'm not really sure that the problem reported is due to missing set of data for different temperatures, or at least I don't understand well how it was done. I was ill last days, sorry to hear you wasn't able to contact anyone from PLINIVS, not even by email.
By the way as I'm not able to login to CLARITY CSIS (never received the activation email) I can't check directly the

[2019-03-27 11:14] p-a-s-c-a-l commented on #2
@bernhardsk Most likely a problem with EMIKAT WMS.

[2019-03-27 14:30] p-a-s-c-a-l commented on #3
See also https://github.com/clarity-h2020/scenario-analysis/issues/9#issuecomment-468696767

[2019-03-27 15:16] stefanon commented on #3
@patrickkaleta Hi Patrick

yes, I agree

here I see a problem: the sum of all 'old' people is **sum(D1..D5) + D0**, where **D0** are the unaffected people (D0: no damage), that you aren't taking in account, and that is not shown in the table at the link, as probably it's showing only classes with damage > 0 (_Damage level estimates for the selected hazard_).
What it's not working, also with fake

[2019-03-28 08:46] patrickkaleta commented on #2
Loading the impact layers takes sometimes  up to over a minute:
![impact-map loading time](https://user-images.githubusercontent.com/42167036/55142842-d6cb1880-513d-11e9-86ea-ac707cd15930.png)

For comparison, loading the hazard layers is much faster (only around 200ms):
![hazard-map loading time](https://user-images.githubusercontent.com/42167036/55142914-f5c9aa80-513d-11e9-913a-86540a80e652.png)

[2019-03-28 11:29] patrickkaleta commented on #2
@humerh just provided me with this [URL](https://service.emikat.at/geoserver/clarity/wms?service=WMS&version=1.1.0&request=GetMap&layers=clarity:view.2813&styles=DamageLevel3Q&bbox=4650500.0,1942000.0,4713000.0,1995500.0&width=768&height=657&srs=EPSG:3035&format=image%2Fgif&cql_filter=HAZARD_EVENT_ID=4) to get the impact layer, which only took me around 7 seconds to load.

@therter could you pleas

[2019-03-29 15:17] therter commented on #2
This format is used. But there the map-component use tiles. So there will be several simultaneous requests. And I think that is the reason for the bad response time. But will I try to configure the map-component so that it use only one tile.

[2019-04-04 17:31] therter commented on #2
@bernhardsk You can also add the Cache-Control response header to your WMS response to avoid the reloading from the server every time, you activate the map layer

In geoserver, you can do this by selecting the layer (click on the layer link on the left side and click then on the name of the layer)
![SelectLayer](https://user-images.githubusercontent.com/1788509/55559580-ccd18880-56ee-11e9-9051-d28

[2019-04-08 07:42] bernhardsk commented on #2
Dear Thorsten, thank you for this info. Heinrich changed the setting. I tested it in CSIS. Already loaded layers now appear instantly.

The initial loading time is now at around 7-8 seconds per newly requested layer instead of 1,5 minutes, so thank you for changing the way in which the tiles are handled.

[2019-04-11 14:56] DenoBeno commented on #3
This is still broken, @humerh @stefanon could you please fix this?
@alecapolupo says that even the current curves should give *plausible* results, whereas we see less people dying with higher temperatures.

Maybe they all went to the sea (incredibly good model?)?

[2019-04-11 20:33] stefanon commented on #3
@bernhardsk is there a way I can see how those damage level probability functions are coded in EMIKAT?

[2019-04-24 13:01] patrickkaleta opened #4 "Enabling Basic Authentification for communication between CSIS and Emikat"
As discussed with @humerh and @fgeyer16, we will use Basic Authentification for the communication between CSIS and Emikat. I enabled the [module](https://www.drupal.org/docs/8/core/modules/basic_auth), configured the REST interface for `Content` and `Group` to additionally work with basic_auth and created a special user, as well as a new user role called "REST", for which the permissions have to b

[2019-04-24 15:16] humerh commented on #4
Basic Authentication is ok! I tested it.

[2019-04-24 15:16] #4 closed, assigned to humerh, fgeyer16, bernhardsk, patrickkaleta

[2019-04-24 18:30] bernhardsk commented on #3
Summary: The damage level probability functions (DLPFs) aka. vulnerability functions are now "fixed":

* The sum of all people per vulnerability class accross all damage levels always add up to 100% ot people of that vulnerability class.
* Higher temperatures do not lead to lower amounts of people affected any more. This was because we had not copied the 1 available set of DLPFs (for 36°C) accross

[2019-04-30 08:42] #2 closed, assigned to therter, humerh, bernhardsk

[2019-05-14 15:28] bernhardsk commented on #3
Quick update:
More realistically behaving DUMMY damage level probability functions (DLPF) have been implemented in AIT EMIKAT which are shown in Drupal by the table component here: https://csis.myclimateservice.eu/study/1/step/22/view/table
Increasing hazard event temperatures increase values from higher damage levels while less people fall into the categories of lower damage levels.

The current

[2019-05-20 12:22] patrickkaleta opened #5 "Flow of REST request between Emikat and CSIS"
## Overview
In this issue we will describe the flow of individual REST calls between Emikat and CSIS, how to access the endpoints on Drupal-side and what content(-fields) should be expected in each response.

## General procedure
1.  CSIS needs to trigger Emikat (send all necessary information and receive Emikat's internal ID of our Study) once a new Study is created and sufficient data has been a

[2019-05-20 12:27] patrickkaleta commented on #5
@humerh
since we don't have the initial trigger yet and there is only one study available, you can test this by using this URL: https://csis.myclimateservice.eu/rest/emikat/study/1

If you need additional fields (or would like to rename some of the fields or use different formats e.g. for the study_area) in one of the endpoints or complete new endpoints, please write them as comments here in this

[2019-05-20 13:21] patrickkaleta commented on #5
@humerh as was just discussed I changed the `study_area` field in the response body, so that it now shows to coordinates for left, top, right and bottom. For that I had to split the original field into 4 new fields.

[2019-05-20 13:33] humerh commented on #5
@patrickkaleta  additionally I need the list of ressources in the data package.
For each ressource I need at least following fields:
- description
- format
- url

[2019-06-06 08:10] patrickkaleta commented on #5
I created a new [REST endpoint](https://csis.myclimateservice.eu/admin/structure/views/view/rest_node/edit/rest_export_6) (accessible by the Emikat-user in the CSIS) at the following URL-pattern: `.../rest/emikat/dp/[DatapackageID]/resources`
@humerh That link is now included in the "Initial Study information" endpoint (described on top in the first comment), so Emikat should have no trouble getti

[2019-06-06 09:19] maesbri commented on #5
@humerh be aware that in the data package resources, the "path" property can be either a url or an array of urls

[2019-06-06 10:48] patrickkaleta commented on #5
Interesting! In that case I believe that the [path field](https://csis.myclimateservice.eu/admin/structure/types/manage/data_package_metadata/fields/node.data_package_metadata.field_url/storage) in Drupal should be allowed to contain unlimited values and not just one.
@fgeyer16 since we already have data in that field, can we change the settings from "limited to 1" to "unlimited" without running i

[2019-06-06 14:56] fgeyer16 commented on #5
As far as I experienced making a single value field to a multi value works and does not cause problems. Only the other direction does not work

[2019-06-07 08:19] patrickkaleta commented on #5
That was also my believe. I tested changing the field's cardinality locally and it worked without problems. I will now apply this in the CSIS.

[2019-06-21 10:54] patrickkaleta opened #6 "Configuring initial Study trigger"
The [csis_helpers module](https://github.com/clarity-h2020/csis-helpers-module) now includes a new feature, which notifies Emikat of a new study (via REST call all relevant fields are sent over), once this study contains all relevant information required by Emikat. Emikat is also notified in the same way once one of those relevant fields is updated.
Currently the following fields are being conside

[2019-06-24 07:43] p-a-s-c-a-l commented on #6
We should add selected RCP and selected Time Period. See https://github.com/clarity-h2020/docker-drupal/issues/58

[2019-06-24 07:44] p-a-s-c-a-l commented on #3
What's the status here?

[2019-06-25 07:22] bernhardsk commented on #3
PLINIVS informed us via e-mail that there are some updates related to vulnerability functions and the flooding model which will be presented on the second day of the upcoming plenary meeting (until then, some issues are still being finalised).

[2019-07-01 07:36] p-a-s-c-a-l opened #7 "Implement new Vulnerability Functions"
Once [avilable](https://github.com/clarity-h2020/emikat/issues/3#issuecomment-505320966), implement new vulnerability functions to resolve https://github.com/clarity-h2020/emikat/issues/3

[2019-07-01 08:08] p-a-s-c-a-l opened #8 "Support for Adaptation Scenarios [IAO/AAO API]"
Provide an API to create new Adaptation Scenarios by modifying and land use distribution as well the parameters like albedo.

[2019-07-01 08:09] p-a-s-c-a-l commented on #8
https://github.com/clarity-h2020/local-effects/issues/1#issuecomment-507159178

[2019-07-01 13:44] p-a-s-c-a-l opened #9 "Support Impact Scenarios [RA/IA API]"
This is related to the [implementation of Impact/Risk assessment model with EMIKAT](https://github.com/clarity-h2020/csis/issues/22). We need an API for triggering the calculation of a new impact scenario and for accessing the results. [Adaptation Scenarios](https://github.com/clarity-h2020/emikat/issues/8) are addressed later!

Triggering can be done by the [Scenario Selection UI](https://github.

[2019-07-01 14:11] p-a-s-c-a-l commented on #8
We would need an additional service / API that translates the JSON into some format (e.g. GeoJSON) that can be shown on the [IAO/AAO Map](https://github.com/clarity-h2020/map-component/issues/31). Furthermore, the respective [Data Package Resource](https://github.com/clarity-h2020/data-package/issues/17) has to be created and the example request / response URLs have to be [added to the Wiki](https

[2019-07-01 14:36] p-a-s-c-a-l opened #10 "Support for Exposure Data [EE API]"
We need access to the [Exposure Data stored in EMIKAT](https://github.com/clarity-h2020/csis/issues/15#issuecomment-502713214). Currently it supports Population Exposure including ~age group distribution for whole Europe~. There is also finer grained [local population exposure data](https://github.com/clarity-h2020/data-package/issues/10#issuecomment-509926705) for the city of Naples available whi

[2019-07-01 15:14] p-a-s-c-a-l opened #11 "Support for Hazard Events [HC API]"
This is related to the [production of Heat Wave Hazard Events for Europe](https://github.com/clarity-h2020/csis/issues/57).

While hazard indexes are currently stored on [METEOROID Geoserver](https://clarity.meteogrid.com/geoserver/web/) and accessed by the [Map Component](https://github.com/clarity-h2020/map-component/issues/33) for informative purposes, we need another API that is accessed by th

[2019-07-01 16:03] p-a-s-c-a-l opened #12 "Support Hazards with Local Effects [HC-LE API]"
This is related to the [calculation of tmrt](https://github.com/clarity-h2020/local-effects/issues/8).

Hazards with local effects /currently (tmrt based on [Heat Wave Events](https://github.com/clarity-h2020/csis/issues/57)) are (re-)calculated in EMIKAT and will be shown on the  [HC-LE Map](https://github.com/clarity-h2020/map-component/issues/34) and eventually in the [HC-LE Table](https://gith

[2019-07-02 11:25] p-a-s-c-a-l opened #13 "Support for Vulnerability Curves [VA API]"
Eventually we would need an API to access and modify the vulnerability curves stored in EMIKAT. ATM we just need some information we can put into the related [Data Package Resource for VA](https://github.com/clarity-h2020/data-package/issues/15).

See also [this question](https://github.com/clarity-h2020/csis/issues/16#issuecomment-473814930): What can we *currently* put into he Data Package Descr

[2019-07-03 17:58] humerh commented on #8
Strategy for implementing a "simple" interface for applying "Adaptation strategies":

Denis proposed today at ZAMG, that the user should draw a (or more)  polygon in the map of the Study area and should apply a "Adaptation Strategy".
I find this is a very good solution, as it solves several problems:
- Nobody has to know something about "grid cells".
- Grid data need not be downloaded to CSIS, man

[2019-07-04 07:24] p-a-s-c-a-l commented on #8
Interesting idea that could indeed make thins simpler. I'll think about it when we've resolved our most pressing issues.

[2019-07-08 07:51] p-a-s-c-a-l commented on #10
I seems that "The population are no longer grouped according to age classes due to lack of sufficient data for the age groups.". @humerh can you please clarify this with @stefanon and @alecapolupo ?

[2019-07-08 10:28] ghost commented on #10
Yes, the population will not be grouped in three classes since the data at european level are not available in that format. Copernicus uploaded the population data already spatialized, therefore they should just be converted in the grid format (https://land.copernicus.eu/local/urban-atlas/urban-atlas-2012).

[2019-07-08 10:35] p-a-s-c-a-l commented on #10
Yes, but Heinrich somehow managed to derive the age groups from other European datasets and to merge it with the Copernicus population data. Right, @humerh?

[2019-07-08 10:39] ghost commented on #10
It is not necessary to apply that procedure because we have just vulnerability function for all the population.

[2019-07-10 05:55] p-a-s-c-a-l commented on #10
Output Example:

[code]

[2019-07-10 06:36] p-a-s-c-a-l commented on #10
@humerh

Thank you, some questions and remakes:
- CLY_EL_POPULATION_**FAKE.2016** should be renamed to  CLY_EL_POPULATION_**INTERPOLATED.2016** or something like that :-).
- Population Data contains age groups which are [not needed any more](https://github.com/clarity-h2020/emikat/issues/10#issuecomment-509171337). We can keep them but they are probably just relevant when dealing with [**local** e

[2019-07-10 12:47] humerh commented on #10
On your request I changed my Population evaluation and remove the age distribution.
I did also a renaming  of table.

So my interfaces are now the followings (replace 2846 by $emikatId):

WMS:  https://service.emikat.at/geoserver/clarity/wms?service=WMS&version=1.1.0&request=GetMap&layers=clarity:view.2955&bbox=4673500.0,1980000.0,4691500.0,1988000.0&width=768&height=341&srs=EPSG:3035&format=image

[2019-07-10 13:35] p-a-s-c-a-l commented on #10
Thanks! WMS doesn't seem to work, though:
[code]

Are you going to provide a WCS endpoint, too?

For the Data Package, we need some meta-information about the Exposure Data, especially to properly credit the original data provider (Copernicus). Is the description of the source data already available in our [CKAN](https://ckan.myclimateservice.eu/dataset)? If not, where can I find the the original

[2019-07-10 13:47] humerh commented on #10
Additional Services available:
EMIKAT REST: https://service.emikat.at/EmiKatTst/api/scenarios/2846/feature/tab.CLY_EL_POPULATION_INTERPOLATED.2016/table/data?rownum=1000

or EMIKAT GeoJSON: https://service.emikat.at/EmiKatTst/api/scenarios/2846/feature/tab.CLY_EL_POPULATION_INTERPOLATED.2016/table/geojson?rownum=1000

or CSV: https://service.emikat.at/EmiKatTst/api/scenarios/2846/feature/tab.CLY_E

[2019-07-10 13:52] humerh commented on #10
Emikat offers the following interfaces:

WMS: https://service.emikat.at/geoserver/clarity/wms?service=WMS&version=1.1.0&request=GetMap&layers=clarity:view.2955&bbox=4673500.0,1980000.0,4691500.0,1988000.0&width=768&height=341&srs=EPSG:3035&format=image/gif&CQL_FILTER=SZ_ID=2846

REST (Json): http://localhost:8081/EmiKat/api/scenarios/2846/feature/tab.CLY_EL_POPULATION_INTERPOLATED.2016/table/data?

[2019-07-10 13:55] p-a-s-c-a-l commented on #10
Is the [local Naples Exposure Data](https://ckan.myclimateservice.eu/dataset/istat-census-data-population) in EMIKAT available too, so that we can test with the table rest API?

[2019-07-10 14:06] humerh commented on #10
The local Naples Exposure Date in EMIKAT are too available under the name "tab.CLY_EL_POPULATION.1758"

Example: https://service.emikat.at/EmiKatTst/api/scenarios/2846/feature/tab.CLY_EL_POPULATION.1758/table/geojson?rownum=1000

[2019-07-10 14:13] humerh commented on #10
Used data for calculation:

1) Population
European Popuation statistics 2011 GEOSTAT 2011 V2.0.1
European raster of Population in a 1km*1km grid  (ETRS89 / LAEA)
Source: Eurostat, GEOSTAT 2011
https://ec.europa.eu/eurostat/web/gisco/geodata/reference-data/population-distribution-demography/geostat

2) Land Use
This layer has been generated from CORINE Land Cover (CLC) (https://land.copernicus.eu/p

[2019-07-10 14:15] humerh commented on #10
What is the problem with WMS service? Is it still present?

[2019-07-10 14:25] p-a-s-c-a-l commented on #10
WMS works now. Thanks!

[2019-07-15 09:47] p-a-s-c-a-l commented on #11
See https://github.com/clarity-h2020/csis/issues/57#issuecomment-509101067

[2019-07-15 17:18] bernhardsk commented on #11
The available requests are documented via Swagger:
https://service.emikat.at/EmiKatTst/swagger/index.html

Some of the relevant functionalities:
![grafik](https://user-images.githubusercontent.com/42140898/61233918-01170500-a732-11e9-881b-6bfb5fc405bd.png)

**1) For Europe wide Hazard Layers (currently: heat wave only):**
Table in AIT EMIKAT:
![grafik](https://user-images.githubusercontent.com/421

[2019-07-16 13:02] p-a-s-c-a-l commented on #11
Thanks @bernhardsk

Two more questions:
1) *"The API would expect a parameter `$studyArea` or `$studyId`*"
This is currently not supported? We need the events relevant for the selected study area (bounding box). This bounding box is IMHO stored in EMIKAT when EMIKAT [is notified about a new study](https://github.com/clarity-h2020/emikat/issues/6). So an additional parameter `$studyId` (the EMIKAT

[2019-07-16 13:17] p-a-s-c-a-l commented on #10
Hm, same question as [here](https://github.com/clarity-h2020/emikat/issues/11#issuecomment-511806097): Is it possible to return only those records that are within the area of the current study (*2846*)? Alternatively, does the API support additional filter parameters, e.g. by bounding box so that we could include the '$studyArea' in the request?

[2019-07-22 07:18] p-a-s-c-a-l commented on #11
FYI: [Here](https://github.com/clarity-h2020/csis/issues/57) are the heat wave events for the baseline climate for all of Europe.

[2019-07-30 13:40] therter opened #14 ""Include in Report" functionality is blocked by CORS policy"
Please, add the Access-Control-Allow-Origin header to the wms, because at the moment we get the following error, when an image of a map with overlay layers from emikat will be created.

`No Access-Control-Allow-Origin' header is present on the requested resource`

[2019-07-30 15:59] humerh commented on #14
Can you check if it is ok now??

[2019-07-30 16:03] therter commented on #14
It works now, thank you

[2019-07-30 16:03] #14 closed, assigned to humerh, bernhardsk

[2019-07-31 08:51] humerh commented on #10
Yes, you will get only those records, which are in the area of the study, I have implemented it already.
As the content of the records will change due to the discussion about the duration I have not published it.

It will be like this:

 https://service.emikat.at/EmiKatTst/api/scenarios/2846/feature/tab.CLY_HAZARD_EVENTS_STUDY.2036/table/data?rownum=1000

[2019-08-04 17:51] humerh commented on #11
The call

https://service.emikat.at/EmiKatTst/api/scenarios/2846/feature/tab.CLY_HAZARD_EVENTS_STUDY.2036/table/data?rownum=1000

returns now all "relevant" events inside of study area.

The id "2846" has to be replaced by the $emikat_id .

[2019-08-06 10:39] p-a-s-c-a-l commented on #11
ATM the API events for RCP45 only. Did you import all files from https://github.com/clarity-h2020/csis/issues/57#issuecomment-516723092 ?

[2019-08-07 08:35] p-a-s-c-a-l commented on #9
**Example REST API URL**

https://service.emikat.at/EmiKatTst/api/scenarios/2846/feature/view.2812/table/data

Questions:
- `2846` to be replaced with `$emikat_id`, but what about *view.2812*? Is it always the same view id?
- data format, e.g. # of damage classes, will change according to new impact model, right? When will it be available?

**Example WMS API URL**

https://service.emikat.at/geoser

[2019-08-07 08:41] humerh commented on #9
You  need only replace the $emikat_id (for our example 2846).
The term "view.2813" or "clarity:view.2813" is an anonomized notation of a specific report. (report_Id). This report_id does not change, if you change the study (or EmiKat-Scenario).

[2019-08-07 08:55] p-a-s-c-a-l commented on #10
When I remove the filter `CQL_FILTER=SZ_ID=$emikat_id` from the [Population Exposure WMS URL]( https://service.emikat.at/geoserver/clarity/wms?service=WMS&version=1.1.0&request=GetMap&layers=clarity:view.2955&bbox=4673500.0,1980000.0,4691500.0,1988000.0&width=768&height=341&srs=EPSG:3035&format=image/png&CQL_FILTER=SZ_ID=2846), I'm, still getting only the exposure for the study area:

![grafik](ht

[2019-08-07 09:06] p-a-s-c-a-l commented on #9
Yes, but there's no `$emikat_id` in the **WMS** url.

[2019-08-07 09:18] humerh commented on #10
_When I remove the filter CQL_FILTER=SZ_ID=$emikat_id from the Population Exposure WMS URL, I'm, still getting only the exposure for the study area:_

Currently we have only ONE Study defined and calculated in EmiKat, so the result is the same. If more than one Study exists, this parameter is essential.

... showing data for all the Europe ...

It was a strategic decision to calculate all the dyna

[2019-08-07 09:26] p-a-s-c-a-l commented on #10
Since this European population layer is then used for *visualisation* in CSIS only and not for calculation in EMIKAT, it would be better to follow the same approach as for the Hazard indices layers:

@ghilbrae should make [these layers](https://ec.europa.eu/eurostat/web/gisco/geodata/reference-data/population-distribution-demography/geostat ) available on [METEOGRID Geoserver](https://clarity.mete

[2019-08-07 09:33] humerh commented on #9
There willl be the need to include also the $emikat_id in the WMS url.

We will update the definition of WMS-Call for Impact Layers also as a consequence of the big changes in model calculation.
Then I will provide a new link.

[2019-08-13 07:58] ghilbrae commented on #10
I'm working on this and I hope to have something today or tomorrow. I'd like to know of you @humerh need 2006 and 2011 or only 2011. I'm working on 2011 right now.

[2019-08-13 10:50] ghilbrae commented on #10
@humerh the population for 2011 is available in our geoserver (https://clarity.meteogrid.com/geoserver/). The name of the layer is: europe:EXT_Population_GEOSTAT_1K_2011 You can check it in the layer preview.

Here is a link to the GetMap: https://clarity.meteogrid.com/geoserver/europe/wms?service=WMS&version=1.1.0&request=GetMap&layers=europe%3AEXT_Population_GEOSTAT_1K_2011&bbox=1896628.61793378

[2019-08-16 15:51] DenoBeno opened #15 "Adaptation options in drupal usable for local model(s)?"
I have just re-designed the way adaptation options work. As a result, there are three items there that could be useful for (simple) adaptation effect modeling.

![image](https://user-images.githubusercontent.com/2961790/63179803-3bcfce00-c04d-11e9-8707-649d37bd6261.png)

1. First, there is the "vulnerability change" indicator. This indicates how important  a change in vulnerability can be effectua

[2019-08-16 15:53] DenoBeno commented on #15
i would like to assign this to someone from PLINIUS so that they can comment on it, but I can't find them...

See e.g. https://csis.myclimateservice.eu/node/553 for an example of how this could be used. This should work if someone parametrize defines the terms and parametrises the values in https://csis.myclimateservice.eu/admin/structure/taxonomy/manage/local_hazard_change/overview and in https:/

[2019-08-19 04:56] p-a-s-c-a-l commented on #15
As discussed with @humerh we will only be able to **[change the land use distribution / land use classes / local effects parameters](https://github.com/clarity-h2020/emikat/issues/8#issuecomment-507162375)** of the [local effects input layers](https://github.com/clarity-h2020/local-effects/issues/5) and then re-recalculate the local effects hazards. So ATM we should focus on the **LocalEffectsPara

[2019-08-19 08:47] DenoBeno commented on #15
As discussed, this type of "simple" adaptation options are possible already. E.g., "apply roof paint with low albedo" that has just one effect (just one used by the model at least), which is "set albedo to 0.2".

However, the taxonomy must indeed include the "emikat parameter id" or "csis parameter id" parameter, which could be a list or a taxonomy. Guess a list is enough.

In addition, Heinrich n

[2019-08-19 08:52] DenoBeno commented on #15
I forgot to mention that it's possible to indicate which adaptation options are available in a data package. Thus, it doesn't matter if some options exist that we can't use in screening - these will not be included in the screening package.

[2019-08-20 21:25] humerh commented on #13
As defined by PLINIVS in the Meeting in July in Vienna we dont have vulnerability curces any more.
The model of calculation has completly to be changed.

[2019-08-20 21:28] humerh commented on #13
See also: https://newrepository.atosresearch.eu/remote.php/webdav/CLARITY/Events/Project%20Events/Plenary%20Meetings/2019-07-03_05%20Project%20Meeting%20(Vienna)/Presentations/Impact%20modelling%20HW_PLINIVS.pptx

[2019-08-20 21:29] humerh commented on #11
All events are now imported.

[2019-08-21 04:45] p-a-s-c-a-l commented on #13
So and what do we show on the VA Tab in CSIS? VA is part of the methodology!

Any ideas @bernhardsk @DenoBeno ?

[2019-08-21 06:36] humerh commented on #13
Maybe you can show one (or more) of the diagrams on page  9-11

[2019-08-21 06:40] p-a-s-c-a-l commented on #13
Yes that's what I've asked for [here](https://github.com/clarity-h2020/data-package/issues/15)! Maybe @bernhardsk is able to create the respective VA Resource in CSIS?

[2019-08-21 07:01] humerh commented on #10
I can access this layer as WMS service. I would prefer to have a WCS service for this layer, because I need the data and not the picture.
A WCS service would be the most efficent access to get the data of the study area.

Currently I continue to use my local copy of data till a WCS service is avalable.

[2019-08-21 10:22] humerh commented on #13
I cannot help to resolve this issue. Please @DenoBeno OR @patrickkaleta fix this.

[2019-08-22 07:41] p-a-s-c-a-l commented on #12
Thanks. And what about the the JSON API needed for the [Table Component](https://github.com/clarity-h2020/table-components/issues/2)?

[2019-08-22 07:53] humerh commented on #12
Do you mean the grid results as "JSON API"?
or
the content of the "Summary table"?
If you mean the "Summary table" I need to understand, how this numbers are calculated. I need more information!

[2019-08-22 07:55] p-a-s-c-a-l commented on #12
any kind of tabular data would be fine atm.

[2019-08-22 08:19] humerh commented on #12
Ok, you can also get the HW Local effect results direct by emikat Rest interface:

As JSON:
https://service.emikat.at/EmiKatTst/api/scenarios/2846/feature/view.2974/table/data?rownum=10000&filter=PROJECT%3DBASELINE&filter=PERIOD%3D'Baseline'&filter=RCP%3D'Baseline'&filter=FREQUENCE%3D'Rare'&filter=SZ_ID%3D2846

As CSV:
https://service.emikat.at/EmiKatTst/api/scenarios/2846/feature/view.2974/table/

[2019-08-22 18:06] DenoBeno commented on #13
I need some time until I can do anything about this. If someone else can work on it, please do.

[2019-08-22 19:49] DenoBeno commented on #15
I have added the local effects parameters from emikat to the taxonomy, see https://csis.myclimateservice.eu/admin/structure/taxonomy/manage/localeffectsparameters/overview/fields/taxonomy_term.localeffectsparameters.field_le_parameter/storage

[2019-08-25 17:19] humerh commented on #10
As I need the data (not the map) is it possible to enable also WCS service for this layer?

[2019-08-26 04:32] p-a-s-c-a-l commented on #10
Maybe @LauraMTG can enable the WCS?

[2019-08-27 13:05] humerh commented on #7
The new Impact model is now implemented:

As WMS-Layers:

https://service.emikat.at/geoserver/clarity/wms?service=WMS&version=1.1.0&request=GetMap&layers=clarity%3Aview.2975&bbox=4672000.0%2C1979500.0%2C4687500.0%2C1988000.0&width=768&height=421&srs=EPSG%3A3035&format=image%2Fgif&CQL_FILTER=PROJECT_REF=1%20and%20PERIOD=%27Baseline%27%20AND%20RCP=%27Baseline%27%20AND%20FREQUENCE=%27Rare%27%20AND%20

[2019-08-27 14:38] LauraMTG commented on #10
@humerh and @p-a-s-c-a-l , It is not possible to access SHAPE data through a WCS service (only for raster files). For this you need to use a WFS service and the procedure is the same.

[2019-08-28 10:48] LauraMTG commented on #10
Hi @humerh and @p-a-s-c-a-l

I have transformed the shapefile into a raster file and it is already in geoserver with the name "geostat_GRID_POPULATION_1K_2011". Now you have the possibility to access the European population layer through the WCS service, if it is useful for you.

![image](https://user-images.githubusercontent.com/46347135/63849211-e1f6ce80-c991-11e9-8f78-4a0e9c01293d.png)

[2019-08-28 16:50] humerh commented on #10
Thank you, it looks fine.
I will switch to this data source in the next days.

[2019-09-03 10:41] humerh commented on #15
This is the list to the defined "land usage" layers in EMIKAT:

https://service.emikat.at/EmiKatTst/api/scenarios/2846/feature/tab.CLY_LAYER_DEF.1837/table/data?rownum=1000

[2019-09-05 21:08] DenoBeno commented on #13
https://newrepository.atosresearch.eu/remote.php/webdav/CLARITY/Events/Project%20Events/Plenary%20Meetings/2019-07-03_05%20Project%20Meeting%20(Vienna)/Presentations/Impact%20modelling%20HW_PLINIVS.pptx

[2019-09-06 16:17] DenoBeno commented on #15
Implemented. If you encounter any issues, please yell but I'm considering this done as far as technical implementation is concerned.

Now it's up to:
1. someone from PLINIUS (?) to configure this in a reasonable way. @RobAndGo , who should we put this on?
2. @humerh  to make use of this and up to

[2019-09-09 13:22] DenoBeno commented on #13
I have started working on this. There are basically two ways of implementing something "nice" for the vulnerability curves in Drupal:

1. By extending the dp_resource.
2. By adding a new content type.

At least for initial testing, I prefer the second approach. Thus, I have added a dp_vulnerability node type https://csis.myclimateservice.eu/admin/structure/types/manage/dp_vulnerability/fields

The

[2019-09-09 13:28] DenoBeno commented on #13
**FYI:** What I have in mind for the short-term is just to show the vulnerability curves.

In the mid-term, I could follow the same  approach as for the adaptation options and add some data to these nodes that can be used by EMIKAT. This would allow us to eventually assure that adding new dp_vulnerability node to a data package (with correct data)  is all we need for EMIKAT to calculate the risk/i

[2019-09-10 12:21] patrickkaleta commented on #13
@DenoBeno
Short answer: Looks good enough for me!

**Couple of notes:**
- I would probably prefer the second approach (model vulnerability as own content type) even for a long-term solution
  - **1. reason:** would allow us to, at least partially, show vunerabilities without needing a datapackage or resource as context (just like adaptation options)
  - **2. reason:** the data model for resources

[2019-09-11 16:11] DenoBeno commented on #13
First dp_vulnerability defined https://csis.myclimateservice.eu/node/1350
Looks nice IMO
![image](https://user-images.githubusercontent.com/2961790/64714792-86632f80-d4bf-11e9-8bf6-32b019fe4dc4.png)

Not sure which hazard this really relates to

[2019-09-12 08:47] DenoBeno opened #16 "How to make Vulnerability curves usable for EMIKAT? [VA API]"
related to: https://github.com/clarity-h2020/emikat/issues/13, https://github.com/clarity-h2020/emikat/issues/7

If we want to make the vulnerability curves usable for the backend processing, we (EMIKAT) would need to know which resources/which references can be used as input for the calculation. But how to do this?

One thing is sure: if we add some machine-readable vulnerability curve material (

[2019-09-12 09:00] DenoBeno commented on #16
Some thoughts:

1. Explicitly link all the resources that can be used from dp_vulnerability. This would be sufficient but unmaintainable.
2. Explicit linking of the relevant dp_vulnerability node(s) from the ressource. MAybe a bit better but still too much work IMO.
3. Stricter "resource type"/"reference type" definition than what we have today. This might be a way to go, but it could also easily

[2019-09-12 09:57] DenoBeno commented on #16
Looking further into the possibility 5, what we would need for this is a GUI that allows the user to choose one or more of the resources that are already listed in the data package and link them together. For instance, something like this:

![image](https://user-images.githubusercontent.com/2961790/64774000-a80df680-d553-11e9-9874-247f827a4653.png)

Here H1, H2 etc mean: "hazard resources that are

[2019-09-12 10:50] DenoBeno commented on #13
I have started looking at the "Impact modelling flooding" description and the first thing that strikes the eye is that this one is talking about:
- one hazard (flood), but which hazard indices?
- FOUR elements at risk (buildings, industrial, roads, agricultural)
- (at least) two risk/impact indices for each combination of hazard & element at risk: direct and indirect damage; each in € and in % of

[2019-09-12 11:30] DenoBeno commented on #16
This may not be absolutely necessary, but it would be good to combine this with "form steps" module (https://www.drupal.org/project/forms_steps):

step 1: define the data package as we have it now (could be cut in more steps if we like it that way...)
step 2: define the relations.

The problem is that the relations can only be defined once the resources have been  added to the data package, so we

[2019-09-12 12:28] patrickkaleta opened #17 "Accessing details about (selected) Adaptation options"
As mentioned in #15 and #8, Emikat needs to access the details of the Adapatation options stored in Drupal. For this reason I expanded the currently available REST end-points relevant for Emikat in the following way:
- the [initial Study information endpoint](https://github.com/clarity-h2020/emikat#1-initial-study-information) now has a `path_selected_adaptation_options` attribute, which leads to

[2019-09-12 12:32] DenoBeno commented on #16
@fgeyer16 : I have thought of a way to add existing data packages to this workflow once we design it. It's simpler than I thought, see http://driver-pos-ticket.atosresearch.eu/content/please-implement-way-add-existing-entities-workflow and https://www.drupal.org/project/forms_steps/issues/3034105

With some luck, we might get this done through DRIVER+

[2019-09-13 14:47] DenoBeno commented on #13
I have implemented a way to associate the vulnerability curves with the data package and also to indicate which resources are used as input and where to look for the output of the risk/impact calculation. This is how it works:

1. I have added several edit forms for the data package. These are called step 1, step 2, ... in anticipation of the workflow module. They can already be used today, just w

[2019-09-13 14:55] DenoBeno commented on #13
OK, so we have a possibility to define some vulnerability resources, add them to the DP, and see what has been added on the data package overview page:

https://csis.myclimateservice.eu/node/50
![image](https://user-images.githubusercontent.com/2961790/64872263-2d260800-d647-11e9-9c1a-bed101f74196.png)

OK, it's rudimentary but it's informative. Unfortunately, none of this is shown in the "vulnera

[2019-09-13 15:57] DenoBeno commented on #13
I have implemented a "quick and dirty" possibility to show vulnerability functions in the VA step. It's analogous to the way adaptation options table works.

![image](https://user-images.githubusercontent.com/2961790/64876576-ad506b80-d64f-11e9-9216-b570cd5e16ba.png)

This means that now the user has a possibility to easily decide which VFs to include in the report, the same as for the adaptation

[2019-09-13 16:11] DenoBeno commented on #13
Status update Friday, 13/09/2019
Technically, we are "almost there" to provide all the support EMIKAT could ever dream of.
**IMPLEMENTED**
1. It's possible to define Vulnerability function nodes (dp_vulnerability).
__Attaching the vulnerability function (table) data to this node would be trivial and will be done as soon as it's possible to visualise this data in Drupal (waiting for https://github.

[2019-09-16 06:09] #15 closed, assigned to stefanon, humerh, RobAndGo

[2019-09-16 14:03] patrickkaleta commented on #13
Done! Adding Vulnerability functions to a GL-step is now supported by the CSIS helpers module.

[2019-09-16 15:19] DenoBeno opened #18 "Should we revise the "Data" tab?"
related to https://github.com/clarity-h2020/emikat/issues/16

I have recently implemented the "table views" for the vulnerability and for the adaptation options. These views just show the available "data" and allow users to include this data in the report.

What "include in the report" means is an interesting question. In some cases it simply means that the report should contain more information a

[2019-09-16 15:41] DenoBeno commented on #13
@patrickkaleta : indeed add/remove works now.

[2019-09-16 15:49] DenoBeno commented on #13
Now we can very easily implement a simple but functional API for accessing and updating the machine-readable vulnerability curves:

1. Allow the users to attach a csv or json file to the dp_vulnerability
2. This file can be accessed and replaced over JSON:API

Optional but nice and "cheap":
3. Install the the chart suite (https://github.com/clarity-h2020/csis/issues/98) and we can visualise the cu

[2019-09-23 07:39] p-a-s-c-a-l commented on #9
@humerh Can you please check what's wrong with [this request](https://service.emikat.at/geoserver/clarity/wms?CQL_FILTER=STUDY_VARIANT=%27BASELINE%27%20and%20TIME_PERIOD=%2720110101-20401231%27%20AND%20EMISSIONS_SCENARIO=%27rcp45%27%20AND%20EVENT_FREQUENCY=%27Frequent%27%20AND%20SZ_ID=2846&service=WMS&request=GetMap&layers=clarity%3Aview.2975&styles=&format=image%2Fpng&transparent=true&version=1.1

[2019-09-24 09:19] DenoBeno opened #19 "EMIKAT calculation not triggered by CSIS"
Emikat id: 3179

The recalculation failed, see illustration

![image](https://user-images.githubusercontent.com/2961790/65499018-3b80e900-debd-11e9-93b8-5f4c32b4e0ff.png)

[2019-09-24 09:32] DenoBeno commented on #19
I have triggered two calculations with just a few minutes between them when this happened, so this may be related...

[2019-09-24 09:33] DenoBeno opened #20 "Studies not getting the EMIKAT ID assigned"
probably related to: https://github.com/clarity-h2020/emikat/issues/6, https://github.com/clarity-h2020/emikat/issues/5

We have just noticed that new studies aren't getting the EMIKAT ID assigned anymore. This has probably been the case for a while already. Please check & fix.

[2019-09-24 09:35] DenoBeno commented on #12
I presume this has been resolved now?

[2019-09-24 09:37] DenoBeno commented on #10
I suppose this is resolved, except that no `$exposureType` filter exists and/since the data is only available for the population?

[2019-09-24 09:39] DenoBeno commented on #6
See https://github.com/clarity-h2020/docker-drupal/issues/83. It would seem that this feature is broken at the moment.

[2019-09-24 09:42] DenoBeno commented on #3
I had a look at various EMIKAT outputs today and following items stroke my eye:

- data showing correctly in "data" and "geojson" views, but wrong data shown in "csv" view. Noticed this for the damage calculations.
- occasional negative data, e.g. -1 for the population in a cell, also for the damage.

[2019-09-24 09:52] DenoBeno commented on #19
OK, the issue is a different one: the batch-jobs aren't triggered from CSIS at all and apparently hasn't been since at least September 10-th. The error message is related to some tests Heinrich did yesterday...

The studies that are triggered by CSIS should have User=CSIS in the table shown below. In reality, CSIS user doesn't appear in the logs at all (earliest log is from 10.09.2019)

![image](h

[2019-09-24 09:53] DenoBeno commented on #20
See also https://github.com/clarity-h2020/emikat/issues/19

[2019-09-24 11:21] patrickkaleta commented on #20
The problem has to be on Emikat side, since POSTs and PUTs currently don't work even when using the Emikat Swagger interface (so without any CSIS involvement). I already informed Heinrich and he is working on it.

**BTW:** I configured the CSIS helpers module to log some status messages when Studies are being sent to Emikat. You can find those message here: https://csis.myclimateservice.eu/admin/r

[2019-09-24 11:26] patrickkaleta commented on #19
Emikat is triggered by CSIS as explained [here](https://github.com/clarity-h2020/emikat/issues/20#issuecomment-534513357), but then something goes very bad on Emikat side and a 500 error is returned to CSIS.

[2019-09-24 15:18] patrickkaleta commented on #20
@humerh solved the problem. Our POST and PUT requests are being processed properly again by Emikat.

[2019-09-24 15:20] patrickkaleta commented on #19
This was solved by @humerh. Closing it now.

[2019-09-24 15:20] #19 closed, assigned to humerh, bernhardsk, patrickkaleta

[2019-09-24 16:49] DenoBeno commented on #20
Excellent. I hope it will stay this way.

On Tue, 24 Sep 2019, 17:26 Patrick Kaleta, <notifications@github.com> wrote:

[2019-09-25 09:11] p-a-s-c-a-l commented on #20
@humerh It still doesn't seem to work for [this study](https://csis.myclimateservice.eu/study/33/).

[2019-09-25 09:13] p-a-s-c-a-l commented on #11
No Hazard Data seems to be available for [this study](
https://csis.myclimateservice.eu/study/35/step/1454/view/table) (AgiosDimitrios): https://service.emikat.at/EmiKatTst/api/scenarios/3189/feature/tab.CLY_HAZARD_EVENTS_STUDY.2036/table/data?rownum=1000

[2019-09-25 09:19] p-a-s-c-a-l commented on #12
No HC_LE Data seems to be available for [this study](
https://csis.myclimateservice.eu/study/35/step/1449/view/table) (AgiosDimitrios): https://service.emikat.at/EmiKatTst/api/scenarios/3189/feature/view.2974/table/data?rownum=1000&filter=STUDY_VARIANT%3D%27BASELINE%27&filter=TIME_PERIOD%3D%27Baseline%27&filter=EMISSIONS_SCENARIO%3D%27Baseline%27&filter=EVENT_FREQUENCY%3D%27Rare%27&filter=SZ_ID%3D

[2019-09-25 09:25] patrickkaleta commented on #20
This study doesn't yet have a data package and study area. That's why Emikat is not informed about this study and therefore there is also no emikatID available. (The csis helpers module checks for those relevant fields and informs Emikat only if they are available/have changed.)

A while ago I [discussed](https://github.com/clarity-h2020/emikat/issues/6) with @humerh what would be considered relev

[2019-09-25 09:27] patrickkaleta commented on #20
Additionally, I can also create another Drupal log message indicating each time a request is **not** send to Emikat after a Study update. But that could spam our [log messages](https://csis.myclimateservice.eu/admin/reports/dblog), so I would only use this for a limited time.

[2019-09-25 11:56] p-a-s-c-a-l commented on #20
Ah, ok, my fault. Now there is a study id but still no data from EMIKAT, e.g. Population Exposure: https://service.emikat.at/EmiKatTst/api/scenarios/3209/feature/tab.CLY_EL_POPULATION_INTERPOLATED.2016/table/data?rownum=1000

How long does that take @humerh ?

[2019-09-25 12:21] p-a-s-c-a-l commented on #11
Same for [this study](https://csis.myclimateservice.eu/study/33/step/1460/view/table) (ALBA_IULIA): https://service.emikat.at/EmiKatTst/api/scenarios/3209/feature/tab.CLY_HAZARD_EVENTS_STUDY.2036/table/data?rownum=1000

[2019-09-25 12:24] p-a-s-c-a-l commented on #10
No Exposure Data seems to be available for [this study](
https://csis.myclimateservice.eu/study/33/) (Alba Iulia): https://service.emikat.at/EmiKatTst/api/scenarios/3209/feature/tab.CLY_EL_POPULATION_INTERPOLATED.2016/table/data?rownum=1000

[2019-09-25 13:12] DenoBeno commented on #11
maybe the input data is still not on atos server?

On Wed, 25 Sep 2019, 14:21 Pascal Dihé, <notifications@github.com> wrote:

[2019-09-25 13:15] DenoBeno commented on #20
In my opinion, you should show messages on the top of the page: emikat
triggered, EMIKAT not triggered because...

At least for admins and developers...

On Wed, 25 Sep 2019, 13:56 Pascal Dihé, <notifications@github.com> wrote:

[2019-09-25 13:30] p-a-s-c-a-l commented on #12
Same for [this study](https://csis.myclimateservice.eu/study/33/step/1455/view/table): https://service.emikat.at/EmiKatTst/api/scenarios/3209/feature/view.2974/table/data?rownum=1000&filter=STUDY_VARIANT%3D%27variant:baseline%27&filter=TIME_PERIOD%3D%27period:baseline%27&filter=EMISSIONS_SCENARIO%3D%27Baseline%27&filter=EVENT_FREQUENCY%3D%27frequency:frequent%27&filter=SZ_ID%3D3209

[2019-09-25 13:31] p-a-s-c-a-l commented on #11
Then this would just affect [HC-LE](https://github.com/clarity-h2020/emikat/issues/12#issuecomment-534932804) and not HC.

[2019-09-25 14:04] humerh commented on #11
There are no "LAND_USE" date (Urban atlas data) available, so Emikat can not calculate.

[2019-09-25 14:08] humerh commented on #11
If you want a support to calculate each location in Europe we have to define for all cities also the location specific parameters.

As an example:
![image](https://user-images.githubusercontent.com/20284964/65608509-a0683c00-dfae-11e9-9dfb-6a007f17530d.png)

[2019-09-25 14:15] p-a-s-c-a-l commented on #11
Cannot calculate what? HC or HC-LE. I thought HC (events) is independent of the HC-LE Urban Atlas input layers. So at least the EE and HC data should be available for whole Europe.

@negroscuro Can you please check if HC-LE input data is available for the following study areas: [Alba Iulia](https://csis.myclimateservice.eu/study/33/view/area) and [Athens](https://csis.myclimateservice.eu/study/35/

[2019-09-25 14:16] humerh commented on #10
Study with EmikatId=3209 was not triggered for calculation. The reason is in my eyes on the drupal side.
So you get no data.

[2019-09-25 14:19] p-a-s-c-a-l commented on #10
Hm, but there is an [EMIKAT id assigned](https://github.com/clarity-h2020/emikat/issues/20#issuecomment-534986503), hmm

[2019-09-25 14:24] p-a-s-c-a-l commented on #20
Although the EMIKAT ID 3209 is now assigned to [study 33](https://csis.myclimateservice.eu/study/33/) and EMIKAT ID 3189 to [study 35](https://csis.myclimateservice.eu/group/35), EMIKAT calculation [was not triggered](https://github.com/clarity-h2020/emikat/issues/10#issuecomment-535044443). But the logs show:

![grafik](https://user-images.githubusercontent.com/1788226/65609947-e32b1380-dfb0-11e9

[2019-09-26 07:50] humerh commented on #11
Sorry, now I understand.
Yes, I had a simlified implementation of the script for searching the "relevant events" for the study area.
I filtered the table for  the city names, which was placticable for NAPOLI and STOCKHOLM.
But the table of Robert had not filled all cities.
So I implemented yesterday an imporved script, which looks for the  EVENTS, which are NEAREST the middlepoint of the study are

[2019-09-26 08:02] patrickkaleta commented on #20
Probably a good idea for developers and admins. I'll have a look at how to implement something like that.

[2019-09-26 09:59] patrickkaleta commented on #20
Emikat is indeed triggered and a batch job is created and queued (Denis and I checked this via an Emikat Client), but it seems that a previous batch job got stucked. Heinrich is not in the office today, but we already called to inform him of this issue. He'll get it fixed soon hopefully.

[2019-09-26 15:32] DenoBeno commented on #20
I think that this is fixed now. In emikat client, all teh batch jobs have been finished...

Trying to trigger the https://csis.myclimateservice.eu/study/33/ again.... Yes, it's working.

![grafik](https://user-images.githubusercontent.com/2961790/65702559-80567c80-e083-11e9-80f3-9cddce0a8cf7.png)

I'm curious to see how long it takes to run it all now...

[2019-09-26 15:47] DenoBeno commented on #20
aproximately 6 minutes.

![grafik](https://user-images.githubusercontent.com/2961790/65703772-99f8c380-e085-11e9-9147-fda8572458a6.png)

For the future reference - if it isn't done in 10-15 minutes, then we have a problem.

[2019-09-26 16:03] DenoBeno opened #21 "Calculation in progress/finished indication"
EMIKAT calculation took 6 minutes for the test study that I tried today. Possibly more for larger areas.

It would be nice to have some indication on the site saying "calculation failed/in progress/done".

[2019-09-26 16:19] DenoBeno commented on #20
Ropening this.

While EMIKAT does finish the calculation batch job, some data is not available for the study #33. E.g., all of these are empty:

![image](https://user-images.githubusercontent.com/2961790/65706136-19889180-e08a-11e9-8487-b218e0ccc6ab.png)

Unsurprisingly, nothing is shown on csis either.

![image](https://user-images.githubusercontent.com/2961790/65706184-30c77f00-e08a-11e9-969f-1c

[2019-09-26 16:44] DenoBeno commented on #20
Oh, come on. I tried to get a calculation working for linz and nothing happened. Logs say:

![image](https://user-images.githubusercontent.com/2961790/65706832-9a945880-e08b-11e9-9d20-01dd5e660c3e.png)

Nothing in EMIKAT batch-jobs.

The EMIKAT did start calculation when I changed the area again.

![image](https://user-images.githubusercontent.com/2961790/65706961-d7f8e600-e08b-11e9-8dbe-1dea20d58

[2019-09-26 17:34] DenoBeno commented on #20
I tried for Napoli in the hope that there we would have all the data.. Result: a new type of error.

![image](https://user-images.githubusercontent.com/2961790/65708872-d4675e00-e08f-11e9-8874-cb9da49885d2.png)

Napoli, second try, with different area.. First the server reconnected....

![image](https://user-images.githubusercontent.com/2961790/65709050-36c05e80-e090-11e9-8eb9-4ffca0a3bc28.png)

T

[2019-09-27 05:35] p-a-s-c-a-l commented on #20
The table and thus EMIKAT API do not receive the variables values we have agreed upon, see https://github.com/clarity-h2020/csis-helpers-module/issues/14#issuecomment-535789402.

So probably that's an issue of the [taxonomy](https://csis.myclimateservice.eu/admin/structure/taxonomy/manage/dp_variable_meanings/overview) / paragraph / whatever? We need *value* not *meaning*. I tried to fix it in csi

[2019-09-27 07:24] DenoBeno commented on #20
Ah, I wasn't aware of that one. OK, this shouldn't be that difficult to fix. If nothing else works, we'll replace the paragraph with node...

[2019-09-27 12:55] patrickkaleta commented on #20
The problem with the `meaning ` and `value` field should be [resolved](https://github.com/clarity-h2020/csis-helpers-module/issues/14#issuecomment-535830997) for now.
@p-a-s-c-a-l: Can you confirm that your apps are getting correct values for `emission_scenario`, `time_period`,...?

@DenoBeno no, this should not be necessary. Extracting fields out of the paragraphs turned out to be quite straightf

[2019-09-27 13:02] patrickkaleta commented on #20
I have now also improved the status notifications as proposed by Denis. In addition to the log messages in the BE, Admins and developers now see directly in the FE, if Emikat has been triggered or not, after updating a Study (as well as whether or not a Recalculation will be evoked).

**Only exception:** changing the Study area doesn't show those notifications, since the Study is updated inside th

[2019-09-27 14:25] p-a-s-c-a-l commented on #20
yes, it is.

[2019-09-30 07:48] p-a-s-c-a-l commented on #9
In order to re-enable the [Scenario Analysis Application](https://github.com/clarity-h2020/scenario-analysis/issues/15), we need a new view with the **sums for the whole study area**. We need furtherore the possibility to omit some or all filters to be able to compare across events, scenarios and / or time periods.

[2019-09-30 11:45] DenoBeno commented on #20
...

As explained in https://github.com/clarity-h2020/csis-helpers-module/issues/14#issuecomment-535830997, this is not really a bug, rather a design feature that we'll need in the future. For now, you can ignore it, I have configured the "DP variable meanings" entries in such a way that they deliver the same information as "DP variables".

That's OK as long as we *only* use the variables with EMI

[2019-09-30 12:12] humerh commented on #9
To get the total  number of affected people:

https://service.emikat.at/EmiKatTst/api/scenarios/2846/feature/view.2994/table/data

You can filter this query also by the usual filter flags:

[2019-09-30 12:56] p-a-s-c-a-l commented on #9
Thanks! Could you also include the original damage probability? I know this can be calculated on client side, but I prefer to work with the original values calculated by the model.

[2019-09-30 13:42] humerh commented on #9
How should I do this? I cannot sum up the propabilities, and they are different for each cell.
You can only do it again after building the sum:

Propability_StudyArea = EXPOSEDQUANTITY_StudyArea / DAMAGEQUANTITY_StudyArea.

[2019-10-01 10:09] DenoBeno opened #22 "EMIKAT Map server is extremely slow"
I have just tested the https://csis.myclimateservice.eu/study/35/step/1528/view/maps and getting the map to show takes like forever. It does show up in the end...

![image](https://user-images.githubusercontent.com/2961790/65953154-aabd8680-e443-11e9-9ee1-6b46c5b8186f.png)

This also means that taking a screenshot takes forever and a day. I thought it's broken at first, but it turned out that it's

[2019-10-01 10:56] p-a-s-c-a-l commented on #22
@therter Can you please check that?

[2019-10-01 11:35] DenoBeno commented on #22
I suspect that it's simply a timeout error.

On Tue, 1 Oct 2019, 12:56 Pascal Dihé, <notifications@github.com> wrote:

[2019-10-01 14:20] therter commented on #22
@DenoBeno is right. There is a default timeout of 15 seconds. Although the behavior of html2canvas is quite strange. It waits for the WMS response and then the image will not be used, if the response took more than 15 seconds.

I can increase the timeout or disable it.

[2019-10-01 16:49] DenoBeno commented on #22
What we really need is that @humerh speeds up the WMS. Disabling the timeout... Don't know, @p-a-s-c-a-l WDYT. Would this break anything?

[2019-10-01 16:53] DenoBeno commented on #20
Guess we can close this issue?

[2019-10-02 06:34] humerh commented on #22
I am already looking for a solution.
It seems, that you (or Map Component) uses for each layer a new WMS Connection.
The current implementation of the Emikat-Plugin to Geoserver does not support "Connection pooling".
I am now testing the changed implementation and if everthing goes well I will install today an optimised version.

[2019-10-02 07:19] patrickkaleta commented on #20
Yes, we can close this. Emikat IDs are assigned to studies once they have all the [relevant](https://github.com/clarity-h2020/csis-helpers-module#communication-with-emikat) fields filled out.

[2019-10-02 07:19] #20 closed, assigned to DenoBeno, humerh, patrickkaleta

[2019-10-02 09:54] DenoBeno commented on #22
@humerh : that might be part of the problem, but I'm currently waiting for `https://service.emikat.at/geoserver/clarity/wms?service=WMS&version=1.1.0&request=GetMap&layers=clarity:view.2975&bbox=4672000.0,1979500.0,4687500.0,1988000.0&width=768&height=421&srs=EPSG:3035&format=image/gif&CQL_FILTER=STUDY_VARIANT=%27BASELINE%27%20and%20TIME_PERIOD=%27Baseline%27%20AND%20EMISSIONS_SCENARIO=%27Baseline

[2019-10-02 12:51] DenoBeno commented on #8
We have an even simpler possibility to start testing the application of adaptation options now:

1. define adaptation options that can be used with EMIKAT (see https://github.com/clarity-h2020/csis/issues/77, https://github.com/clarity-h2020/data-package/issues/44) - this is something PLINIUS is working on.
2. Include these adaptation options in the screening data package. This is already possible

[2019-10-02 16:18] humerh commented on #22
The main reason of bad performance was, that the filter conditions where applied AFTER the fetch of all cells of ALL studies.
Now I forward the filter conditions to the database and the performance seems to be much better.

Additionally I implemented a database pool, but that was not the Performance killer.

Please give feedback to the current performance and behavior.

[2019-10-03 08:25] DenoBeno commented on #22
Excellent!

`https://service.emikat.at/geoserver/clarity/wms?service=WMS&version=1.1.0&request=GetMap&layers=clarity:view.2975&bbox=4672000.0,1979500.0,4687500.0,1988000.0&width=768&height=421&srs=EPSG:3035&format=image/gif&CQL_FILTER=STUDY_VARIANT=%27BASELINE%27%20and%20TIME_PERIOD=%27Baseline%27%20AND%20EMISSIONS_SCENARIO=%27Baseline%27%20AND%20EVENT_FREQUENCY=%27Rare%27%20AND%20SZ_ID=2846` load

[2019-10-03 08:25] #22 closed, assigned to humerh, patrickkaleta

[2019-10-03 08:48] DenoBeno opened #23 "How to implement better/more useful tables?"
I'm putting this in emikat because I presume that we'll need new emikat views for this, but it is also relevant for the table component.

As of today, it seems that we have resolved the worst EMIKAT-related issues. Calculations are triggered, results are coming (not sure if for all the areas but at least for some), visualization of data in tables and maps works as designed...

However, the tables

[2019-10-04 10:44] DenoBeno opened #30 "Scenario analysis application is not showing all data"
This is what I see on https://csis.myclimateservice.eu/study/35/step/1528/view/scenario-analysis

![image](https://user-images.githubusercontent.com/2961790/66201791-667cf100-e6a4-11e9-92e3-b5b9776db35b.png)

Error message seems to be bogus.

[2019-10-04 11:01] DenoBeno commented on #30
Hm wait, the data in question is really not shown in the table. However, the bar charts are missing some other data too, e.g. rcp 26 for 2071-2100 period.

the table component is still not showing anything, so I can't say what is really wrong here. https://csis.myclimateservice.eu/study/35/step/1528/view/table

[2019-10-04 21:28] DenoBeno opened #24 "Please test and if needed calibrate the local temperature estimates"
Related: https://github.com/clarity-h2020/local-effects/issues/8, https://github.com/clarity-h2020/emikat/issues/28, https://github.com/clarity-h2020/data-package/issues/59

I took a look at the local temperature estimates produced by EMIKAT and I'm concerned about the MRT being over 100°C. I am even more concerned about the relation between ambient, MRT and UTCI index.

http://www.utci.org/utcine

[2019-10-05 22:22] DenoBeno opened #25 "Where can we currently do the screening?"
I tried Vienna and Linz, both failed. Where does the screening currently work?

[2019-10-06 07:00] humerh commented on #25
Currently I have only this local paramters for the calculation of local effects:

![image](https://user-images.githubusercontent.com/20284964/66265451-eb881780-e816-11e9-9790-d156e72a8a91.png)

[2019-10-06 08:01] humerh commented on #25
I would propose to use a simplified formula to calculate solar radiation:

Eta  ( η ) = Sun's altitude angle above the horizon - 21th of June:    90° - latitude + 23°27'

Global radiation = Global_radiation0 * cos((latitude-23,45)*PI/180
Diffuse radiation = Diffuse_radiation0 * cos((latitude-23,45)*PI/180
Direct radiation = Direct_radiation0 * cos((latitude-23,45)*PI/180

Global radiation0 = 1040

[2019-10-06 08:03] humerh commented on #25
I have to add, that this simplified formula is only valid for June 21th (midsummer) !!!!

[2019-10-06 18:49] DenoBeno commented on #25
I don't really care, but someone has to check the data in the end. Are we
delivering telephone numbers or something plausible?

On Sun, 6 Oct 2019, 10:03 Heinrich Humer, <notifications@github.com> wrote:

[2019-10-07 07:56] p-a-s-c-a-l commented on #30
Yes, this error occurs *from time to time* because the data retrieved from the [EMIKAT RA/IA API](https://github.com/clarity-h2020/emikat/issues/9) does not contain all values. I don't know why this happens. BTW, this is different view (https://service.emikat.at/EmiKatTst/api/scenarios/3189/feature/view.2994/table/data) than the one used by the table component. It **aggregates** the values used by

[2019-10-07 08:07] humerh commented on #30
Yes, you are right. These Events does not exist.

See the table:

1201 | 37,98 | 23,73 |   |   | 1 | HW | Baseline | Baseline | Occasional | 38_0.366d | 34,7
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
1192 | 37,98 | 23,73 |   |   | 1 | HW | Baseline | Baseline | Rare | 39.5_0.066d | 34,7
1210 | 37,98 | 23,73 |   |   | 1 | HW | Baseline | Baseline | Frequent | 35.5_3.133d | 34,7
1193

[2019-10-07 08:36] p-a-s-c-a-l commented on #30
Any why? Is that a problem with the input hazard data or something else?

[2019-10-07 08:36] patrickkaleta commented on #25
@RobAndGo can you please take a look at the [proposed solution](https://github.com/clarity-h2020/emikat/issues/25#issuecomment-538721629) by Heinrich. If this approximation is good enough for us to use it in our calculations, @negroscuro could stop looking for a way on how to get the actual radiation values and instead focus on other tasks.

[2019-10-07 08:49] humerh commented on #30
This question has to be answered by Robert (@RobAndGo).
I suppose, that there are not enough statistical data inputs available for this event.

[2019-10-07 09:18] DenoBeno commented on #25
At the moment, I would prefer having *some* response everywhere than just getting empty results.

However, my working assumption is that proposed workaround would deliver less reliable results than the calculation based in actual data. Thus, we need the following information:

1. How much difference is there between the two estimates?
2. How does that compare with high-quality models and with the

[2019-10-07 10:06] DenoBeno commented on #30
If that's a "normal" behaviour, so be it. But I don't understand it.

@robandgo, please explain.

[2019-10-07 16:11] DenoBeno commented on #23
By the way, how to interpret the Hazard tables?

- what is the "event descriptor"?
- what is the temp95perz?

@humerh, @therter : this table has many columns, some even empty. Not very useful as it is now,

![image](https://user-images.githubusercontent.com/2961790/66328813-a99dc500-e92d-11e9-8030-1c6e4feafb2d.png)

[2019-10-08 07:20] humerh commented on #23
You see the whole table, which we get from ZAMGs statistics, maybe we can hide some columns:

You can query also the name and description of columns:
https://service.emikat.at/EmiKatTst/api/table/tab.CLY_HAZARD_EVENTS_STUDY.2036

From the side of EMIKAT all columns are meaninful and necessary. Operationally the columns "urban_area",  "country" and "Temp95Perz" are not used, but for checking plausa

[2019-10-08 08:17] humerh commented on #25
To verify the approach, which I suggested I did a backward calculation from the retrieved radiation values:

  |   |   |   |   |   | declination | 23,45 |   |   |  
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
  |   |   |   |   |   |   |   |   |   |  
  |   | Global | Direkt | Diffuse | latitude | Eta' | cos(latitude-23,45)) | Global0 | Direkt0 | Diffuse0
GR | ATHINA | 1.010 | 871,7 | 138

[2019-10-08 08:22] claudiahahn commented on #25
sorry, Robert is on vacation and I didn't know about this github issue.
We'll have a look at Heinrichs suggestion.

Here is what we have suggested to Mario:

"Hi Mario,
Maybe you could use data from the Copernicus atmospheric monitoring service:
https://atmosphere.copernicus.eu/catalogue#/product/urn:x-wmo:md:int.ecmwf::copernicus:cams:prod:an:surface-solar-irradiation:pid291

Apparently, they hav

[2019-10-08 09:03] humerh opened #26 "Calculation for mortality rates - documentation and open problems with EUROSTAT- Database"
The implementation starts with the definition by PLINIVUS "impact.calculation_mortality_v3.docx":

In the chapter 3 the "Calculation of deaths" is described:
![image](https://user-images.githubusercontent.com/20284964/66380919-9e43ab80-e9b8-11e9-9009-8159367e4ea3.png)

It is suggest to use the statistic database from EUROSTAT: https://ec.europa.eu/eurostat/web/cities/data/database

The year 2012 (

[2019-10-08 09:03] claudiahahn commented on #25
from the documentation:
![grafik](https://user-images.githubusercontent.com/45260352/66382328-4f4b4580-e9bb-11e9-925f-80eab3538fb0.png)

[2019-10-08 09:11] humerh commented on #25
I implemented a database for these data in EMIKAT and imported the values for the suggested yeaar 2012.

The result is like this:
![image](https://user-images.githubusercontent.com/20284964/66382722-fd56ef80-e9bb-11e9-83cb-a7673bb4dd8f.png)

The columns "Total deaths per year" and "Total population" come from different sources but they use the same Urban area code UA_CODE_2017. I joined them in on

[2019-10-08 09:26] humerh commented on #26
I implemented a database for these data in EMIKAT and imported the values for the suggested yeaar 2012.

The result is like this:
![image](https://user-images.githubusercontent.com/20284964/66384134-79523700-e9be-11e9-898f-a83c052ccfbf.png)

The columns "Total deaths per year" and "Total population" come from different sources but they use the same Urban area code UA_CODE_2017. I joined them in on

[2019-10-08 09:27] humerh commented on #26
There are some open problems about this database:

- For the selected Year 2012 not all urban areas contain information, they are empty or they are flagged.
- As consequence the impact calculation can not generate results.

What are possible workarounds:

- Find another data source
- Use the values of another year
- Adding missing values manually (expert estimation)
- replacing missing values by a

[2019-10-09 07:54] RobAndGo commented on #30
I wasn't able to see what problem you are all referring to, but I do know that there are cases where for a given grid point, specific heat wave events may not occur. e.g. it is possible that for a rcp85 scenario, a rare or occasional event may occur, but a frequent event is not registered because in the statistics, this occurred at an interval of either much greater than once per year, or much low

[2019-10-09 08:38] RobAndGo commented on #24
To my knowledge there has been no mention of what relative humidity or wind speeds are used in the calculation of UTCI. We have not provided any humidity data from EURO-CORDEX and wind data is only available in the form of a wind index averaged over the 30-year periods. I'm not sure if PLINIVS @stefanon or @mattia-leone can provide any further information.

[2019-10-09 08:56] DenoBeno commented on #24
So how IS the UTCI calculated? @stefanon? @humerh?

How do we calculate UTCI without humidity & wind speed if this are the parameters that go into UTCI calculation?

[2019-10-09 08:58] DenoBeno commented on #23
Fro the record, here is the table definition

[code]

[2019-10-09 09:31] DenoBeno commented on #23
I don't quite understand why this data is served by EMIKAT. And since it is, why doesn't EMIKAT also serve the data for other indices, like "tropical nights"? It should, IMO  - so that we can serve a table looking more like what we planned to show - see the mockup:

![image](https://user-images.githubusercontent.com/2961790/66468515-94887980-ea86-11e9-946c-30dbcce1a33c.png)

"Event descriptor" has

[2019-10-09 09:50] DenoBeno commented on #23
Based on these considerations, this is what I would propose to do:

1. **allow users to define several presets and **only show the data corresponding to the presets**. and replace the scenario/frequency/time period with the preset label.**

This is similar in spirit to what our mockup suggested btw, except that the "scenarios" would be replaced by presets. See https://github.com/clarity-h2020/emik

[2019-10-09 09:59] DenoBeno commented on #25
Sounds good.

[2019-10-09 10:06] DenoBeno commented on #30
A, so we may very easily miss the 2-year events, I see. But I don't think that this is the issue we have at hand. Look at https://github.com/clarity-h2020/scenario-analysis/issues/17#issue-502564514 again. The whole RPC26 is missing for the period 2041-2070, not just the rare event.

Unless the lack of the "rare" event makes the generation fail for the others too.

[2019-10-09 10:09] DenoBeno commented on #30
By the way: it would be good if the scenario analysis app would only show the data for the "presets" (we can allow users to define more than one preset). In that way, there would be less data sets to show and the labels would be easier for the users since users can freely choose them.

![image](https://user-images.githubusercontent.com/2961790/66472501-aa4d6d00-ea8d-11e9-8f0a-5df3dd86cfa9.png)

[2019-10-09 11:00] stefanon commented on #24
Hi, all
about UTCI calculation, we implemented it only for expert level evaluation. The parameters required include the humidity and wind speed, other then Ta and Tmrt. The UTCI evaluation is done applying the Simplified Model proposed by Błażejczyk, (2011). The humidity and wind speed for expert level local scale used in calculations is retrieved from meteo data of local stations, for the day(s)

[2019-10-09 20:33] humerh commented on #24
This document (specification) was provided by PLINIVS:

[Conversion of Mean Radiant Temperature to Apparent temperature.docx](https://github.com/clarity-h2020/emikat/files/3709307/Conversion.of.Mean.Radiant.Temperature.to.Apparent.temperature.docx)

This was the document forwarded to me after the Vienna meeting in summer.

[2019-10-10 08:19] DenoBeno commented on #24
OK, the way this is calculated is clear now:

![image](https://user-images.githubusercontent.com/2961790/66550761-5a7eac80-eb46-11e9-8e7b-c30874c0c4ed.png)

I just don't understand why this approximation is so far from what the calculator gives. My 1 m/s is quite near to 1.1m/s, so the humidity of ca. 50% should produce similar results in that calculator. Also the tests made by @RobAndGo indicate

[2019-10-11 09:49] RobAndGo commented on #30
OK, now I think I understand - you mean that there is no data from the RCP26 2041-2070 scenario. I thought I uploaded all the files in a previous github post - I'll try to find it now to see if maybe I forgot this one.

I can't seem to find the original post, so I'll upload the missing dataset here:
[europe_rcp26_20410101-20701231.csv.txt](https://github.com/clarity-h2020/scenario-analysis/files/3

[2019-10-11 12:02] p-a-s-c-a-l commented on #30
OK. And who is responsible for making the data available via a service? Is it METEOGRID or @humerh? Is it directly imported into EMIKAT or fist into geo server then queried by EMIKAT?

@RobAndGo [here](https://github.com/search?q=org%3Aclarity-h2020++europe_rcp26_20410101-20701231.csv.txt&type=Issues)

[2019-10-11 12:13] DenoBeno opened #27 "New application proposal: x-t graphs"
Related to https://github.com/clarity-h2020/emikat/issues/23

For our last demo, Rose has prepared a fake report for the screening study of Alba Iulia.

[CLARITY-CSIS_report_AlbaIulia.docx](https://github.com/clarity-h2020/emikat/files/3717449/CLARITY-CSIS_report_AlbaIulia.docx)

In this report, she has included several very simple but useful x-t graphs. Here is how they look like:

![grafik](http

[2019-10-11 12:25] DenoBeno commented on #27
I say "similar" because I am not sure if we have the data necessary to do exactly the same.

For the **hazard indices produced by ZAMG**, we do have the uncertainty - just not in the same resource. We *could* merge the value + deviation resources (ensmean and ensstd) in one resource and then produce this type of graphs...

For this, we would have to:
1. define new reference types or qualifiers tha

[2019-10-11 12:31] DenoBeno commented on #27
When I think of it... If we implement https://github.com/clarity-h2020/data-package/issues/47, then this type of graphs could (should?) be used to represent the resource on the data tab and possibly also on the resource page. (Since it combines different climate scenarios & times in one illustration, it )

[2019-10-11 12:57] RobAndGo commented on #25
I'm a bit late on this, but a couple of comments (hopefully they are relevant!):
1. for European latitudes the equation for Eta is sufficient.
2. If the issue is how to
a) calculate the global radiation from the extra-terrestial irradiance and
b) split the global radition into the diffuse and direct radiation components (**daily values**),
then there is a paper done from the Netherlands which deve

[2019-10-11 13:10] RobAndGo commented on #27
Hi @DenoBeno
All the indices that we generate based on the EURO-CORDEX data consist of a mean (suffix _ensmean) and a standard deviation (suffix _ensstd) of all models considered in the ensemble. For the indices that I have uploaded, these have been done as separate resources because I wasn't sure if supplying the data together in one file was a valid option
1. for METEOGRID to do the conversion f

[2019-10-11 13:21] DenoBeno commented on #27
@RobAndGo : indeed, at the moment each ressource must consist of exactly one layer. However, the data+stdev is *logically* seen one piece of data and maybe we can change the way how we handle the data so that this logic is directly visible within the resource.

This is all for discussion atm., because we have plenty of work to do and need to prioritise. Still, it's good to put things on the table

[2019-10-11 13:43] p-a-s-c-a-l commented on #7
done

[2019-10-11 13:43] #7 closed, assigned to humerh, bernhardsk

[2019-10-11 13:45] #3 closed, assigned to therter, stefanon, humerh, bernhardsk

[2019-10-11 13:46] p-a-s-c-a-l commented on #6
initial  trigger is working.

[2019-10-11 13:46] #6 closed, assigned to humerh, patrickkaleta

[2019-10-13 20:39] claudiahahn commented on #27
Just that you know what is displayed in the figures above: I used the min and max values from the ensemble to plot the range.

[2019-10-14 05:57] humerh commented on #27
Isn't it possible to make such diagrams by the variables TIME_PERIOD and EMISSIONS_SCENARIO?
EMISSIONS_SCENARIOS span in my eyes also the probability space of future situation.
If we use these parameters then we have all information.

[2019-10-14 09:01] negroscuro commented on #25
Claudia provided this link where to get Solar radiation data:
http://www.soda-pro.com/web-services/radiation/cams-mcclear

I was contacting via email to copernicus staff regarding solar radiation data set, so as I see, we are going to rely in ETA formula from Heinrich, so I forget about Copernicus solar radiation dataset, indeed they were asking me for several details I could not answer in order t

[2019-10-14 09:05] #11 closed, assigned to humerh

[2019-10-14 10:50] patrickkaleta commented on #17
@humerh please have a look at this. Does Emikat need any additional information regarding the selected adaptation options?

[2019-10-14 10:53] negroscuro commented on #25
Regarding the city avilability in the system I think we can rely on the flags already present in the layer available in our geoserver.
There are 2 city layers indeed:
-city_bbox
-city_boundary

After discussion with PLINIVS it seems bbox one is no longer needed and the one to use is boundary
By querying this layer you can get two booelan fields: heat_wave and pluvial_flood
Those boolean values say

[2019-10-14 11:02] patrickkaleta commented on #5
Closing this, since basic communication between Emikat and Drupal is already implemented by now and working. For reference purposes I'll keep this issue pinned to the top.

[2019-10-14 11:02] #5 closed, assigned to humerh, fgeyer16, patrickkaleta

[2019-10-14 13:38] RobAndGo commented on #27
@claudiahahn is currently too busy at the moment to answer, but when she made the plots, she thought of showing all 3 curves for the different RCPs in one by representing each in a different colour or shading, e.g.

RCP26 - blue (`#0000FF`) with light blue (`#A9A9F5`) error range.
RCP45 - cyan (`#00FFFF`) point with light cyan (`#A9F5F2`) error range.
RCP85 - magenta (`#FF00FF`) point with light m

[2019-10-14 15:36] DenoBeno commented on #25
@negroscuro: where can we get that table?

[2019-10-14 15:37] DenoBeno commented on #25
On today's telco, we have agreed to follow this approach. Needs less resources in the DP == less trouble for us.

[2019-10-14 15:45] DenoBeno commented on #13
This is labeled as "in progress" in T1.3. In reality, I have no idea what to do with it now and nobody else is working on it.

[2019-10-14 15:50] negroscuro commented on #25
I explained that, it is "city_boundary" layer, available in Atos Geoserver as WMS and WFS.
Maybe I was not clear enough, sorry.

[2019-10-14 15:51] DenoBeno commented on #10
This works now. Guess we can close the issue.
Several issues to consider for later

1) the table is not very useful IMO.
- GRID_ID is cryptic for the users, so per-grid data is generally not very useful in the tables. Unless we would have table & map linked on the same page.
=> maybe we should show average/min/max for the project area in a table?
2) How could we add "future exposure"?

[2019-10-14 16:03] DenoBeno commented on #24
Maybe this isn't such a showstopper anymore, but we will still need some validation of this data against reality or against a better model.

[2019-10-14 16:06] DenoBeno commented on #26
As we agreed today, the procedure is the following:

1. Make it work where the data is available
2. make sure some kind of error is issued where this is not possible
3. Then try to implement some workaround, e.g. take values for some nearby region or EU-average or...
4. indicate if the data was calculated in this way.
5. Finally, @helllth will then have to show this information to the users.

[2019-10-14 16:12] DenoBeno commented on #9
As discussed earlier today: is the per GRID_ID value of any use for the csis users?

In my opinion, the table view should sum over all grid cells and then show min/max/mean or mean/deviation values - for the whole project area.

Per grid data is only useful in combination with a  map.

[2019-10-14 16:14] DenoBeno commented on #12
As discussed earlier today, we have a workaround for the missing insolation data, so this should soon work for all locations. Technically it's already working for a few locations...

[2019-10-14 16:23] DenoBeno commented on #30
Is this done now?

[2019-10-15 06:30] p-a-s-c-a-l commented on #25
Hm, this complicates things. The cities taxonomy as it is now is not sufficient. We have to extend it by those boolean flags and depending on the study type (heat wave or pluvial flood screening) dynamically generate the list of selectable cities. Not sure if this is easily possible with Drupal @patrickkaleta ?

**ATM we don't need this since we don't support pluvial floods yet. So it's save to re

[2019-10-15 06:47] p-a-s-c-a-l commented on #25
Still open seems the question about [solar radiation](https://github.com/clarity-h2020/emikat/issues/25#issuecomment-541752288) and [mortality rates](https://github.com/clarity-h2020/emikat/issues/26). Are those information now available for all cities with `heat_wave == true`? If not, those new flags tell us that HW/PF HC-LE input data is available for the respective cities, but not that Impact C

[2019-10-15 07:40] humerh commented on #25
As the radiation will be calculated in EMIKAT from the latitude we automatically have radiation for all locations in the near future.
I also implement the EUROSTAT-Interface in an extended way, and I import the last 20 years of data.
If the value of the requested year does not exist, the algorithm will use a neighbour year.

For all cities having NO VALUE at all, I will manually insert an "EXPERT

[2019-10-15 07:45] humerh commented on #13
After the changes in the calculation of Impact we have no vulnerability curves any more.
The new Mortality function was implement already months ago.
Someone should close this issue.

[2019-10-15 09:13] p-a-s-c-a-l commented on #13
OK, closing. But then I don't understand why [this](https://github.com/clarity-h2020/emikat/issues/13#issuecomment-531298983) has been implemented.

[2019-10-15 09:13] #13 closed, assigned to DenoBeno, stefanon, patrickkaleta

[2019-10-15 09:14] #10 closed, assigned to ghilbrae, maesbri, humerh, LauraMTG

[2019-10-15 09:17] p-a-s-c-a-l commented on #26
Workaround is documented [here](https://github.com/clarity-h2020/emikat/issues/25#issuecomment-542082667).

[2019-10-15 09:17] #26 closed, assigned to p-a-s-c-a-l, claudiahahn, mattia-leone

[2019-10-15 09:22] p-a-s-c-a-l commented on #9
We had this [already working](https://github.com/clarity-h2020/table-components/issues/4).

Once the results have been [validated](https://github.com/clarity-h2020/emikat/issues/24) and the data model has stabilised, we can update the [table component](https://github.com/clarity-h2020/table-components). I propose to wait for the specification of the flood impact result, so we don't have to redo th

[2019-10-15 10:27] RobAndGo commented on #25
Hi @humerh
Here is an explanation of how to use the method proposed in the paper from Spitters et al. that I posted [here](https://github.com/clarity-h2020/emikat/issues/25#issuecomment-541752288).
[Separating the diffuse and direct component of global radiation.docx](https://github.com/clarity-h2020/emikat/files/3728772/Separating.the.diffuse.and.direct.component.of.global.radiation.docx)

[2019-10-15 11:46] negroscuro commented on #25
I am not managing mortaility rates or solar radiation.
As Heinrich explained they are calculating solar radiation with ETA formula and it seems to be  available for any city, but I do not know about mortality rates.

I can only guarantee that `heat_wave = true` means all land use layers are generated and land use grid percentages also available among Atos Geoserver layers.

Load process is still p

[2019-10-15 21:24] DenoBeno commented on #13
Because we still have something playing the role of the va curve. And I
wasn't aware of this change.

On Tue, 15 Oct 2019, 11:13 Pascal Dihé, <notifications@github.com> wrote:

[2019-10-16 07:51] negroscuro commented on #25
Nice news, cities are progresing fast. Now it is only 27 cities left! apart from LEFKOSIA and LISBOA which need a retry.

[2019-10-16 09:15] patrickkaleta commented on #25
I will look into the possibility of showing only certain cities based on the selected study type.

What is definitely possible is to hide all cities/regions from the selection that are unpublished (Drupal 8.6. introduced a publishing status field for taxonomy terms, however the UI for this won't get updated until D8.8. [details](https://www.drupal.org/project/drupal/issues/2899923)).
So, for now @

[2019-10-16 09:21] therter commented on #25
This is the way, my script is working and this script does already exist. So it's easy for me to execute this script again with new city data.

[2019-10-18 06:57] p-a-s-c-a-l commented on #30
No: "Could not load indicator file RCP45 (2011-2040). It contains no indicator data for indicatorFrequent"

[2019-10-18 07:33] RobAndGo commented on #30
@p-a-s-c-a-l do you mean this is a problem with the original data set that I uploaded, because I do have frequent heat wave events for RCP45 (2011-2040), here is the file once again:
[europe_rcp45_20110101-20401231.csv.txt](https://github.com/clarity-h2020/scenario-analysis/files/3742753/europe_rcp45_20110101-20401231.csv.txt)

[2019-10-18 07:41] p-a-s-c-a-l commented on #30
I don't know. This data comes from the [EMIKAT RA/IA API](https://github.com/clarity-h2020/emikat/issues/9#issuecomment-536533426), so maybe @humerh knows why the events are still missing.

[2019-10-18 09:21] negroscuro commented on #25
It ended, I will start with Lisboa and Lefkosia to see if I have better luck with them this time.

I have been discussing also with Miguel Angel, that next time with a huge load of data like this, we should try with new postgresql12 and postgis3 since it looks like they improved parallel queries resolution with more than 1 CPU usage. Probably it will improve a lot.

[2019-10-20 18:10] DenoBeno commented on #25
@humerh : how does it look like on our side now? Are we ready to do studies in all these cities?

[2019-10-20 18:12] DenoBeno commented on #30
@humerh , WDYT?

[2019-10-22 14:49] negroscuro commented on #25
Lefkosia is generated, only one remaining is Lisboa (currently trying).

[2019-10-24 14:45] p-a-s-c-a-l commented on #1
I'm not able to download CSV files from EMIKAT API with Chrome:

``
Access to fetch at 'https://service.emikat.at/EmiKatTst/api/scenarios/2846/feature/view.2975/table/csv?rownum=1000&filter=STUDY_VARIANT%3D%27BASELINE%27&filter=TIME_PERIOD%3D%27Baseline%27&filter=EMISSIONS_SCENARIO%3D%27Baseline%27&filter=EVENT_FREQUENCY%3D%27Rare%27' from origin 'http://localhost:3000' has been blocked by CORS po

[2019-10-25 10:07] p-a-s-c-a-l commented on #1
Those are the headers return by the [CSV GET request](https://service.emikat.at/EmiKatTst/api/scenarios/2846/feature/view.2974/table/csv?rownum=1000&filter=STUDY_VARIANT%3D%27BASELINE%27&filter=TIME_PERIOD%3D%27Baseline%27&filter=EMISSIONS_SCENARIO%3D%27Baseline%27&filter=EVENT_FREQUENCY%3D%27Rare%27):
[code]

Those are the headers returned by a JSON/GeoJSON GET request:
[code]

@humerh Can you pl

[2019-10-25 13:41] humerh commented on #1
Yes, I found the problem. The export in CSV has been solved in another way, and there I did not implement all the headers.
I added it alread in my code and on monday I will deploy the software.

[2019-10-28 18:26] negroscuro commented on #25
Finally Lisboa got loaded, so all 540 cities are ready.

[2019-10-29 21:20] DenoBeno commented on #25
Today I tried to do a study in Barcelona and it didn't work at first.
Something really simple didn't get generated in EMIKAT (ask Heinrich for
details) and then the whole chain failed.

Heinrich got it working in no time again, but I'm not sure if this is a 1
in a million chance or something that will happen every time now. Please
try it out and report if it fails.

On Mon, 28 Oct 2019 at 19:26, M

[2019-10-30 10:10] p-a-s-c-a-l commented on #12
I assume this is working now and the issue can be closed?

[2019-10-30 10:12] p-a-s-c-a-l commented on #9
RA/IA API available and working.

[2019-10-30 10:12] #9 closed, assigned to humerh

[2019-10-30 10:12] humerh commented on #12
Yes!

[2019-10-30 10:14] p-a-s-c-a-l commented on #1
done

[2019-10-30 10:14] #1 closed, assigned to therter, humerh, bernhardsk

[2019-10-30 10:15] #12 closed, assigned to humerh

[2019-10-30 10:21] p-a-s-c-a-l commented on #30
Events are still [missing](https://csis.myclimateservice.eu/study/35/step/1528/view/scenario-analysis).
Bug or Feature?

[2019-11-04 18:49] negroscuro commented on #25
After importing data into ATOS input layer local effects database, Heinrich csv file with mortality data has 1000 cities while I have only 545 because those cities are the ones with all 3 datasets available (UA2012, STL and ESM) that is ok.
I realized that city codes does not match between CSV mortality and UA2012 I am using, so for me it did things a bit harder, but I manage to seek for matchings

[2019-11-05 14:55] DenoBeno commented on #24
I talked with Wolfgang Loibl today. He will start validating this data against Linz data where we have both the measurements and the more accurate models. In his opinion, our T_MRT is far too high and therefore also the T_UTCI.  This would also explain why the comfort index based on T_UTCI is almost always 5.

[2019-11-05 16:31] DenoBeno opened #28 "Height correction for the temperature?"
related to: https://github.com/clarity-h2020/emikat/issues/24, https://github.com/clarity-h2020/local-effects/issues/8, https://github.com/clarity-h2020/data-package/issues/59

Why don't we apply the height correction to our temperature model?  should be 0.65K/100m according to http://meteorologytraining.tpub.com/14312/css/14312_47.htm

That's quite a lot, actually.

- In Venna we have 300 m diffe

[2019-11-05 16:45] DenoBeno commented on #28
Just had a look at https://de-de.topographic-map.com/maps/7is7/Neapel/ - some suburbs are at 200m.

![image](https://user-images.githubusercontent.com/2961790/68227069-63eb1f80-fff3-11e9-93c3-53d38e6d5e26.png)

In Vienna, the lowest parts of the urban area are at 150m, the highest around 250.

[2019-11-05 17:00] DenoBeno commented on #24
_latest e-mail from Wolfgang:_

Denis showed today the SCIS – application to me as I don’t have an account (until now!) …

I recognised the T-mrt results draped over Europe and was quite alarmed – **the modelled results are far away from reality compared to our high resolution simulations and the monitoring results, which we are conducting for model result validation**

The validation of  the Linz

[2019-11-06 07:00] p-a-s-c-a-l commented on #28
Is the information on elevation available in our HC-LE input layers? If not, could it be generated e.g. from [SRTM](http://srtm.csi.cgiar.org/srtmdata/) data? We would just need the average height in a 250x250 grid cell, right? So that's one new grid layer with elevation information. This could directly be stored in EMIKAT, right?

[2019-11-06 08:30] humerh commented on #28
I think, the most influencing data to the current model ist the air temperatur of a specific grid cell. We do the calculation with a fixed temperature, which comes from the Event definition.
The definition of the event assumes a specific temperature for a specific duration for all cells of the study area. NO REAL temperature distribution for a specific day is used.

This definition is independend

[2019-11-06 08:30] RobAndGo commented on #28
I think the method proposed by both @DenoBeno and @p-a-s-c-a-l is sound.

The original surface temperatures from EURO-CORDEX are on the coarse 10km x 10km grid, and the surface height of this grid box will be the average of all elevations within this box (_H_avg_). For example, I used these temperatures for the three heat wave event classes (frequent, occasional, rare).

Now, when the temperatures

[2019-11-06 10:55] patrickkaleta opened #29 "Study in Poland doesn't show any results for local HC and RIA"
- [ ]  ~adding new study doesn't generate all the necessary table entries (always?)~
- [ ] ~impact calculation fails in many places, e.g. Lodz, Gdansk and Tirana regions. It works in Vienna, Linz, Barcelona, Athens, Naples...~
- [ ] ~In Lodz region, no temperature and population results were shown on a map.~

**See my updates in [this comment](https://github.com/clarity-h2020/emikat/issues/29#issu

[2019-11-06 14:25] DenoBeno commented on #29
"Projects for adaptation" table is empty. In other studies, there is one line for it in the table:

![image](https://user-images.githubusercontent.com/2961790/68298314-525c5300-0099-11ea-9840-213e2b3b5d60.png)

Could it be that this entry isn't getting made in new studies anymore? I usually experiment with old studies but this one is new.

[2019-11-06 15:11] DenoBeno commented on #29
If I do the calculation in Poland by re-using some old study, most of the views are built correctly but the mortality isn't:
![image](https://user-images.githubusercontent.com/2961790/68310287-08329c00-00b0-11ea-8913-67a8389b4bf8.png)

[2019-11-07 09:26] DenoBeno commented on #29
More test results:

I tried to perform a study on several places yesterday. Two in Poland and Tirana/Albania. Always starting from existing study because starting a new study apparently doesn't work properly (see earlier message).

1. Small village near Gdansk
- everything worked except for calculating the impact.
2. Lodz area: city centre and a village next to it.
- calculations apparently worked

[2019-11-07 10:40] stefanon commented on #24
We are working on DC1 detail scale and validating results for Tmrt and the dependent UTCI, evaluating also model sensitivity to the parameters used and attributed to the landuse layers, and as we have also available the data at feasebility level, we'd like to compare calculation results done with our procedure with the ones done in Emikat: can I have a look at the procedure doing calcs (should it

[2019-11-07 11:45] negroscuro commented on #25
Anybody knows what to do in such situation?

[2019-11-07 13:18] claudiahahn commented on #25
I created a new study (Naples - test, 54) but the local effect was not calculated
At least there were no results in the table and I couldn't display Tmrt on the map. Even though the legend for Tmrt was displayed (it has same range as the legends for Linz and Vienna)

[2019-11-07 13:27] p-a-s-c-a-l commented on #25
Yes, there are some issues at the EMIKAT backend atm. Please see also https://github.com/clarity-h2020/emikat/issues/29

[2019-11-11 13:35] negroscuro commented on #25
Matching by not using last 2 digits of the city code as Heinrich pointed I managed to match 460 out of 540 cities.

It looks like:

![image](https://user-images.githubusercontent.com/6427900/68591208-77353980-0490-11ea-88a7-727fc241a6d2.png)

It is already published in our Geoserver as mortality layer with city boundaries geometry, city id and name from UA, and all the mortality data provided by H

[2019-11-11 13:49] p-a-s-c-a-l commented on #25
@therter Can you please assess the impact on the cities taxonomy in CSIS and take the required steps to update it if necessary?

[2019-11-12 08:12] negroscuro commented on #25
**Now available cities for CSIS taxonomy are in layer MORTALITY** where now 460 cities are set.
The only problem is that I found an incoherence in mortality data:

![image](https://user-images.githubusercontent.com/6427900/68653627-6df9aa80-052c-11ea-9346-595b7eb459da.png)

For some reason there is a duplicate, a city without name (null) that for some reason is generating  2 ARNHEM so I think I sh

[2019-11-12 10:00] p-a-s-c-a-l commented on #30
still not resolved yet: `Could not load indicator file RCP45 (2011-2040). It contains no indicator data for indicatorFrequent`

[2019-11-12 10:12] humerh commented on #25
If we speek about "Urban areas" we should use the term of the Eurostat definition:

See: https://ec.europa.eu/eurostat/web/cities/background

One file there is the official list of  cities and regions:  https://ec.europa.eu/eurostat/documents/4422005/4430532/City-FUAs-Greater-cities-list-2017.xls

It is important to understand the systematic of coing of the cities and regions:
Character 1-2: Natio

[2019-11-12 10:28] humerh commented on #25
NL009C2 is another version of boundary than NL009C1.

As longer I think about all these problems I recognise, that it is HARDLY possible to get an homogenous  view of statistic data for all Europe.
Maybe it is better to find only ONE figure for mortality rates for all Europa and ignore all local statistics.  :-(

[2019-11-12 10:31] therter commented on #25
This layer are imported now

[2019-11-12 11:20] negroscuro commented on #25
I would say it is working right now, by ignoring subcity districts levels, as you explained, is not it?

The only thing is that as a new requirement for a city to be available in CSIS we went from 545 available cities to 440 because taking into account mortality data, that is all.

![image](https://user-images.githubusercontent.com/6427900/68845708-1db94e80-06cc-11ea-9add-17a997e91937.png)

- Left

[2019-11-13 14:37] humerh commented on #29
One part of the problem:
In the study definition the city is called LODZ.
In the city table for mortality rates the city PL002C1 is called "Łódź"
Similar, but not the same writing.
For comparing we should switch to city codes.

[2019-11-15 16:02] DenoBeno commented on #29
Yes, I can imagine this could cause problems...

[2019-11-18 08:32] patrickkaleta commented on #29
We are currently not storing city codes in Drupal, but I don't think it should be much of a problem to add them to our City/Region taxonomy. Once we have those city codes, I could update the CSIS helpers module to send the city code as well everytime we trigger Emikat.

[2019-11-18 09:28] p-a-s-c-a-l commented on #30
Could not load indicator file RCP45 (2011-2040). It contains no indicator data for indicatorFrequent

[2019-11-18 14:02] DenoBeno commented on #29
Sure. One field more....

[2019-11-18 19:44] DenoBeno commented on #24
sure. You need to talk with @humerh about this. I noticed him sending some data per e-mail to Tanja the other day, maybe that's exactly what you need.
As for accessing the DB, we have an EMIKAT client application that can be used for this purpose. You would need a special login/password and a bit of training to use it though.

[2019-11-18 20:44] DenoBeno commented on #28
That makes sense, yes. In many cases it will not matter, but it will matter if there are some hills around. E.g. the temperature could become higher in Salzburg and Innsbruck, while getting colder on surrounding hills.

E.g., here is an extreme example:

![image](https://user-images.githubusercontent.com/2961790/69092127-02dc3680-0a4c-11ea-81b1-2507c6128b22.png)

Sankt Gilgen is at 545m, the hillt

[2019-11-19 10:11] DenoBeno commented on #24
Just FYI, I found some data sets. Ist this useful?

•	https://doi.pangaea.de/10.1594/PANGAEA.879722

A database containing irradiances of ultraviolet and visible components of the surface solar 10-minute irradiation measured from July 2014 to December 2016 at three stations in the area of the city of Ostrava (Czech Republic) is presented. The measured variables contain irradiances of UVB (280-315

[2019-11-20 10:03] patrickkaleta commented on #29
### Update:
After looking deeper into those problems together with @humerh we found and solved/are working on solving the following problems:
- for new Studies no calculations were triggered, because Emikat was expecting the `forceRecalculate` attribute, which CSIS only sends when updates in existing Studies occur. Heinrich fixed this on Emikat-side and once a new version of Emikat will be deploye

[2019-11-25 09:31] p-a-s-c-a-l commented on #30
API Call with missing Events: https://service.emikat.at/EmiKatTst/api/scenarios/3189/feature/view.2994/table/data

[2019-11-25 09:35] RobAndGo commented on #30
I'll upload the file again (I initially uploaded the rcp26 file for some reason):
[europe_rcp45_20110101-20401231.csv.txt](https://github.com/clarity-h2020/emikat/files/3885868/europe_rcp45_20110101-20401231.csv.txt)

[2019-11-25 12:24] RobAndGo commented on #30
After discussing the issue further with @humerh, and seeing that @humerh did have all the data already correctly imported into Emikat, we determined that the problem is that which I addressed in the [post above](https://github.com/clarity-h2020/emikat/issues/30#issuecomment-539884088). That is, it is normal that a grid point may not have all three types of events (frequent, occasional, rare) for a

[2019-11-26 07:47] humerh commented on #30
CSIS-Application can call EmiKat to get all defined event types for a specific Study:

https://service.emikat.at/EmiKatTst/api/scenarios/3189/feature/tab.CLY_HAZARD_EVENTS_STUDY.2036/table/data
where 3189 is the <emikat_Id> of the study.

[2019-12-09 08:39] p-a-s-c-a-l commented on #25
@therter Is the updated list of **440 cities** imported in CSIS? Can we close this issue?

[2019-12-09 09:06] therter commented on #25
The last import of the citiy taxonomy were the cities from the mortality layer (see https://github.com/clarity-h2020/docker-drupal/issues/128#issuecomment-556973195). This were 460 cities. At the moment, the mortality layer contains  545 cities. Should I reimport this cities?

[2019-12-09 09:30] p-a-s-c-a-l commented on #25
Before importing anything we have to clarify if this is really the most current layer, because there a now different numbers floating around (440  vs. 460 vs. 540) and **460** [still seems to be the correct number](https://github.com/clarity-h2020/emikat/issues/25#issuecomment-552782430).

[2019-12-10 08:30] #29 closed, assigned to DenoBeno, humerh, patrickkaleta

[2019-12-11 10:53] negroscuro commented on #25
545 cities is the old count, without taking into account mortality. Now, with mortality data, the count downs to 460 cities. You imported 460 and it seems there are repeated cities, I am checking why.

[2019-12-11 11:30] negroscuro commented on #25
Solved, final result is 455 cities.
The problem was data from mortality has some records without city name and matching code for the city (only using 5 characters) since they are some kind of outskirts or close municipalities to the 'main' city.

[2019-12-11 11:41] negroscuro commented on #25
@therter yes please do a reimport. Sorry for the inconvenience.

[2019-12-11 11:43] therter commented on #25
Ok, I will reimport the layer mortality (http://services.clarity-h2020.eu:8080/geoserver/clarity/wfs?request=GetFeature&typeNames=clarity:mortality&outputFormat=SHAPE-ZIP)

[2019-12-11 12:01] therter commented on #25
I did the reimport. So I think, I can close this issue.

[2019-12-11 12:01] #25 closed, assigned to negroscuro, humerh, RobAndGo, mattia-leone

[2019-12-13 14:06] RobAndGo commented on #24
Just returning to the comment that @DenoBeno made [above](https://github.com/clarity-h2020/emikat/issues/24#issuecomment-540456558). I think the difference between the value of UTCI from Emikat and that from the online calculator (http://www.utci.org/utcineu/utcineu.php) is because the equation that Emikat uses, namely this one:

![image](https://user-images.githubusercontent.com/45385637/70805185

[2019-12-13 14:48] RobAndGo opened #31 "Status of the Tmrt calculation"
I'm sorry if this has been handled in another issue, but after some searching around, I couldn't find what I wanted to show, so here I go here.

In May @humerh presented this excel file:
[Models - Local Effect 17_01_Calc.xlsx](https://github.com/clarity-h2020/emikat/files/3961273/Models.-.Local.Effect.17_01_Calc.xlsx)

In it @humerh shows the result of each equation necessary to calculate Tmrt (th

[2019-12-13 15:15] #31 closed, assigned to humerh, RobAndGo

[2019-12-13 15:16] RobAndGo commented on #31
I found the original issue for this topic, so I'm closing this issue (because I can't find the delete button).

[2020-01-17 10:31] DenoBeno opened #32 "Height correction for (Temperature) local effects"
For the full discussion, please see: https://github.com/clarity-h2020/emikat/issues/28

Conclusion: height correction should be implemented for the temperature local effect indices. According to @RobAndGo, the correction should be 1°C per 100m up to 1000m height and 0.65°C above it:

The way to implement this in EMIKAT is by calculating the difference between the average heights of the 500x500 out

[2020-01-22 12:56] claudiahahn commented on #32
yes, the temperature values Robert provided for the heat wave events are based on the EURO-CORDEX data (~12 x 12km), which use an average height for each 12 x12 km grid cell (H_avg). I have copied the respective orography file (average height for the input cells) to the ftp server (/clarityftp/europe/EURO-CORDEX_orography/SMHI/orog_EUR-11_SMHI_r0i0p0_v1_fx.nc).
Using the EU-DEM (25m x 25m resoluti

[2020-01-27 15:39] p-a-s-c-a-l commented on #30
Finally, this has been resolved in https://github.com/clarity-h2020/scenario-analysis/issues/19

[2020-01-27 15:39] #30 closed, assigned to p-a-s-c-a-l, humerh, RobAndGo, LauraMTG

[2020-02-14 10:06] DenoBeno opened #33 "New EMIKAT calculation currently not possible"
I just tried it, the input data looks OK but the calculation breaks with error and there is no "hazard local  data" or "impact".

Population calculation works.
- https://csis.myclimateservice.eu/study/50/step/1843/view/maps

[2020-02-14 10:27] DenoBeno commented on #33
Calculation doesn't work in Naples either. I hope this is a known issue that will be fixed soon.

[2020-02-19 12:10] negroscuro commented on #32
I am dealing with this:

I am assuming there is only need of having mean altitude of a cell as long as it is a cell of an available city in the system, am I right with this?

[2020-02-19 12:22] RobAndGo commented on #32
I believe so. As the local effect can only be calculated where city data is available, the effect of cell-height is thus only relevant for these cases.

[2020-02-19 14:10] p-a-s-c-a-l commented on #33
[This](https://csis.myclimateservice.eu/study/100/step/3314/view/table) Napoli Screening study created by @mattia-leone shows the following error:

Now, is the screening ATM generally generally broken or is this just a temporary failure?

[2020-02-19 14:14] negroscuro commented on #32
Thank you @RobAndGo

Mean altitude data logic is already set. I am currently updating cities currently in the system in order to generate cell mean altitudes for those grid cells belonging to any of those cities which are:

Napoli
Stockhom
Linz
Salzburg
Linz
Wien
Barcelona
Palermo
Reggio di Calabria
Bari
Bologna
Genova
Tallinn
Kaunas
Gdansk
Helsinki
Jelgava
Madrid
Athina

**Data is in layer 'land_

[2020-02-19 14:20] p-a-s-c-a-l commented on #24
Has this been addressed? Are we confident with the calculated results? Can this be offered as public service now?

[2020-02-19 14:23] p-a-s-c-a-l commented on #16
Is this still relevant and feasible? Does it it have a realistic change to become implemented and is it going to provide any benefits for end users of the public screening service? If not, please close.

[2020-02-19 14:40] p-a-s-c-a-l commented on #27
Doesn't seem that anybody is going to work on this. If this is true, we should close the issue and focus more on our core tasks.

[2020-02-19 14:44] p-a-s-c-a-l commented on #23
IMO our current tables are not good but good enough. Looking at the list of still unresolved and way more urgent issues, I don't think that we'll come back to this. So better close the issue to keep focused on our still realistic goal to go live with the system what we have now.

[2020-02-19 15:13] p-a-s-c-a-l commented on #33
@mattia-leone wrote:

Reason: somebody changed the study type to *Basic Screening: General*:  https://csis.myclimateservice.eu/study/100/view/context

[2020-02-19 16:28] humerh commented on #32
Question to @RobAndGo and @negroscuro

How can I access the height of the Euro-Cordex Grid cell (12kmx12km)?
Will there be an Geoservice available?
Or should I import this height similar as we did for the "charcteristic events"?
I imported many month ago an Excel-File provided by @RobAndGo, like this:
![image](https://user-images.githubusercontent.com/20284964/74852617-1e055d80-533d-11ea-8a4a-b791

[2020-02-20 07:08] negroscuro commented on #32
There is an issue when loading mean altitude so data is not stable, I am deleting and generating it while finding out what is the problem with it, I am getting erroros:

It looks like DEM raster and cells are not matching for some reason.
The point is I am generating DEM from city boundary and I am selecting grid cells by intersecting with city boundary so it does not make sense to me. I do not kn

[2020-02-20 08:22] p-a-s-c-a-l commented on #24
@RobAndGo wrote:

[2020-02-20 08:34] RobAndGo commented on #32
Hi @humerh. Which heights did you use for the 'characteristic events'? I seem to remember that @claudiahahn may have already uploaded some height information from EURO-CORDEX, possibly for that task which you mentioned.

[2020-02-20 09:28] claudiahahn commented on #32
I have copied the respective file (average height for each 12 x12 km grid cell) to the ftp server (/clarityftp/europe/EURO-CORDEX_orography/SMHI/orog_EUR-11_SMHI_r0i0p0_v1_fx.nc).
I am not sure if it was intended to put the file on the wms server (@luis-meteogrid, @ghilbrae, @LauraMTG?). Also, I think, transferring data from MTG to ATOS geoserver is still on-going, right? It might for now be easie

[2020-02-20 10:44] ghilbrae commented on #32
You are right, the migration is still not done. If you need us to add it to our geoserver we can do that but it will need to be taken into account by ATOS (@negroscuro ) when the migration is done.

[2020-02-20 13:04] negroscuro commented on #32
@ghilbrae :
If you change anything in Meteogrid Geoserver, please provide an updated copy of the Geoserver folder into the ATOS FTP and let me know about it.
Migration is not yet completed since we are having problems with docker image volumes, my colleague @DanielRodera  is handling this.

[2020-02-20 13:15] NICDDB commented on #33
Thank you @p-a-s-c-a-l, i recovered the simulation launched yesterday on Napoli.
Today i've tried to lunch a new simulation on Bologna but there is a problem: the calculation process has been done but the map it's not aviable.
@humerh can you you can make it possible for us to do simulations on other Italian cities besides Naples, for example Bologna and Palermo.
We would need these for tomorrow o

[2020-02-20 14:12] LauraMTG commented on #32
This is more complicated @negroscuro and @DanielRodera

Requests for new publications can be frequent and this leads to changes in several Geoserver directories (not only the one that stores the file, but also the style directory etc). Your current version is no longer updated as I indicated previously when I processed new ZAMG hazard index. We need to discuss a proper way to do the MTG-ATOS geose

[2020-02-20 14:22] p-a-s-c-a-l commented on #33
Regarding the Bologna Screening study:

- Table data is available for [HC-LE (T_MRT, etc.)](https://csis.myclimateservice.eu/apps/simple-table-component/build/HazardLocalEffectsTable/?host=https://csis.myclimateservice.eu&study_uuid=9bf32019-a7ba-454d-af22-abc0fd7a9003&study_area=POLYGON%20((11.293445%2044.47932,%2011.293445%2044.520948,%2011.390948%2044.520948,%2011.390948%2044.47932,%2011.293445

[2020-02-20 14:28] p-a-s-c-a-l commented on #32
@DanielRodera If you need help with the setup of GeoServer as Docker container, you can have a look at our [docker-geoserver](https://github.com/clarity-h2020/docker-geoserver) repo.

Accessing the data volume from dockerized GeoServer is not as obvious as it should be. Some thoughts on that in this issue: https://github.com/clarity-h2020/docker-geonode/issues/4

[2020-02-20 14:34] NICDDB commented on #33
yes probably is a configuration problem. I lunch a new study on Palermo and it work! Thank you so much. Anyway i will try to do a studies on other city and i will keep to update.
I have a suggestion when you select a study scenario there is the stuff "Event frequency" which is related to the power of impact (correct me if I'm wrong) but it is not easy to understand.

[2020-02-20 15:03] negroscuro commented on #32
@ghilbrae

I said Geoserver folder because as far as I understood from Laura everything published in Geoserver is within Geoserver folder, that means styles, raster data sources, etc...
So the idea is getting that we have all needed data. The idea is to replicate the Geoserver instances as it is running in Meteogrid server, so we need latest version of it.

Until we have anything stable keep worki

[2020-02-20 15:07] p-a-s-c-a-l commented on #27
Answer from Robert / Claudia:

[2020-02-20 15:13] negroscuro commented on #32
@p-a-s-c-a-l
Is not a problem about deploying a Geoserver it seems there is a problem with the eteogrid instance, something related with some jar files.
Thank you anyway for the support!

[2020-02-20 15:19] LauraMTG commented on #32
Yes, but the latest version is changing several times. Well, I propose the following:
I will process Claudia's request
I'm going to publish on MTG's geoserver
I'm going to update the Geoserver directories on the ATOS FTP.

However, please consider that this process is not feasible for every new layer.
To complete the Geoserver migration, count on what you may need from us to avoid this.

[2020-02-20 15:37] negroscuro commented on #32
Forget about updating ATOS FTP for now, it is better for everybody if we ask you once our bug is fixed, this way you will do it just once.
By the way, which version of Tomcat are you using?

[2020-02-20 15:44] LauraMTG commented on #32
Thank you @negroscuro , that's good. Tomorrow I'll inform you of Tomcat's version.

and
@claudiahahn , your file has already been processed and published on MTG's geoserver (for now)

[2020-02-20 16:26] NICDDB commented on #33
The new studies on Bologna and Genoa have been successful! So I think the problems have been solved. Thank you @p-a-s-c-a-l , @humerh, @DenoBeno.

[2020-02-20 16:50] negroscuro commented on #32
It looks like the problem was DEM raster was only generated to match streams area, since DEM use was only with streams.
![image](https://user-images.githubusercontent.com/6427900/74958372-1e6b2a80-5409-11ea-9419-9ecfaefc7ba5.png)
Now it is needed with city grid cells so I manage to generate different area dem to match city grid cells also.
![image](https://user-images.githubusercontent.com/6427900

[2020-02-21 08:47] ghilbrae commented on #32
@negroscuro
This is the info on our geoserver installation:
TOMCAT
[code]
GEOSERVER
[code]

[2020-02-22 09:34] negroscuro commented on #32
Finally I fixed the error and mean height per 500m cell is generated for current cities in the system.

I have to let you know that this could be a slow process, it cant take minutes or hours, the slowest of the 18 cities was Stockholm which took **11 hours** to generate mean altitude per cell (I am using 25 meters DEM data in order to generate the mean).

![image](https://user-images.githubuserco

[2020-02-24 10:33] negroscuro commented on #32
This is 25m DEM original data for Stockholm area:

![image](https://user-images.githubusercontent.com/6427900/75154516-1ca5ad80-570e-11ea-88c3-2c81b3d04302.png)

This is Stockholm city boundary defined for UA2012:

![image](https://user-images.githubusercontent.com/6427900/75154495-0bf53780-570e-11ea-86dc-0b2eba7ed6cf.png)

For you to see resulting mean altitude, I styled it, so it is 500m resoult

[2020-02-24 10:42] negroscuro commented on #32
The styling is done with 8 quantile intervals.

Same for Naples, DEM data:

![image](https://user-images.githubusercontent.com/6427900/75154185-778ad500-570d-11ea-9346-b0ea551e1bbd.png)

Naples UA boundary;

![image](https://user-images.githubusercontent.com/6427900/75154256-a0ab6580-570d-11ea-8658-09733eb560a2.png)

Mean altitude per cell:

![image](https://user-images.githubusercontent.com/64279

[2020-02-24 13:33] negroscuro commented on #32
I have been trying the GDAL way to do this, it takes just seconds! but the result is useless... I cannot match European 500m grid cells with generated pixels with this procedure, indeed it is irregular and I miss data.

ORIGINAL DEM FOR STOCKHOLM SMALL AREA
![image](https://user-images.githubusercontent.com/6427900/75156594-b7a08680-5712-11ea-8960-8e87f8d10f66.png)

11 hours POSTGRES calcualtions

[2020-02-24 13:49] negroscuro commented on #32
Another thing I noticed is ... probably mean altitudes are not well generated?

This is what I got:
![image](https://user-images.githubusercontent.com/6427900/75157561-a8bad380-5714-11ea-8a37-8692ccc6c09d.png)

From orginal DEM:
![image](https://user-images.githubusercontent.com/6427900/75157660-ddc72600-5714-11ea-9712-ecb31d3ce7c8.png)

[2020-02-24 15:00] p-a-s-c-a-l commented on #32
Hm, maybe @therter or @stefanon could have a look at the statement?

[2020-02-24 15:03] p-a-s-c-a-l commented on #28
Discussion continues [here](https://github.com/clarity-h2020/emikat/issues/28).

[2020-02-24 15:03] #28 closed, assigned to luis-meteogrid, negroscuro, humerh, claudiahahn, RobAndGo, mattia-leone

[2020-02-24 15:09] humerh commented on #32
I have imported the NetCDF file from @claudiahahn already into emikat.

See:  have copied the respective file (average height for each 12 x12 km grid cell) to the ftp server (/clarityftp/europe/EURO-CORDEX_orography/SMHI/orog_EUR-11_SMHI_r0i0p0_v1_fx.nc).

[2020-02-24 16:48] negroscuro commented on #32
@DenoBeno I need someone to validate this procedure or decide which other alternative to follow.

[2020-02-24 16:51] negroscuro commented on #32
@p-a-s-c-a-l I checked and values are generated correctly but for some reason it takes ages.
@DenoBeno I need someone to validate this procedure or decide which other alternative I can use. GDAL is quick but does not match the european grid.

[2020-02-24 16:53] negroscuro commented on #32
@humerh You mean I spent around two weeks for nothing?
ouch  :( that means change scripts back to not doing this altitude calculations....

[2020-02-24 19:31] claudiahahn commented on #32
@negroscuro, I think Heinrich needs both, the 12x12km average height (H_avg) from the EURO-CORDEX files and the 500x500 m elevation grid.

[2020-02-25 07:29] p-a-s-c-a-l commented on #32
Reopening. @humerh please clarify asap. This has quite some impact on how we proceed with [CSIS Public BETA Release](https://github.com/clarity-h2020/csis/issues/145). Thanks.

[2020-02-25 10:08] humerh commented on #32
I need the "12x12km average height (H_avg) from the EURO-CORDEX", which is used also for defining the "characteristic events".
This heights are already defined in the NetCDF file provided by @claudiahahn, isn't it?
I imported this file into EMIKAT, similar to the import job of the characteristic events.

These heights are the starting points for the height-corrections, because all of the current c

[2020-02-25 10:12] negroscuro commented on #32
@humerh  There is no problem, my fault, I misunderstood a previous message here, so I just want to confirm you use both altitude data sources. Thank you for clarification.

[2020-02-25 10:15] negroscuro commented on #32
I still need someone to validate the altitude I am generating, I am not sure if it worths the time spent to be generated.

I will explain myself in more detail. I have DEM_Stockholm raster file which has 25m resolution.
![image](https://user-images.githubusercontent.com/6427900/75242863-2c35fc80-57c9-11ea-85d8-6b5599afad69.png)

The current process is to use it and calculate mean altitudes with eu

[2020-02-25 16:42] negroscuro commented on #32
@humerh and @stefanon
Can you confirm me if it would be a problem or not to have the basins altitude per cell, streams count per cell, mean altitude per cell and built density per cell as NULL in those cases there is no data?
having null allows me to differenciate if data was generated or not, since sometimes cells does not meet the conditions of having data in order to generate a corresponding va

[2020-02-25 17:33] stefanon commented on #32
@negroscuro well, if no data are available or can be generated, the only choice I think is to have null values, and then no data in -> no data out... can you show an example?

[2020-02-25 19:28] negroscuro commented on #32
The thing is avoid any problem in later uses of the data I am generating, but from my side is more confortabe and easy if I set to null all those four columns and then set the value when calculated, the thing is that the value could be 0 so that will be confusing if default value for those columns would also be 0... that is why I want to use null but I do not know if it is a problem for any of you

[2020-02-25 21:55] negroscuro commented on #32
I tried by doing GDAL operation to lower resolution to half original DEM raster, then calculated from postgis and I obtained results in 21minutes instead of 11h... and looks like this, pretty similar but not exactly the same
![image](https://user-images.githubusercontent.com/6427900/75291129-ec4f3380-5821-11ea-8136-ef44c90d2963.png)

May I use this shorter method instead?

[2020-02-26 07:46] humerh commented on #32
What is the reason for having NULL values?
- maybe this is water area
- other reason .....

Which replacement value can I use, which strategy should I apply?
- Take Altitude = 0m above sea level
- Take the value of the nearest defined cell?
- Maybe I am not allowed to make height correction for these cells
- All depending results on this grid cell should be also set to NULL.

As a conclusion: My a

[2020-02-26 08:13] negroscuro commented on #32
@humerh  look at this.

![image](https://user-images.githubusercontent.com/6427900/75324687-c8b6d800-5877-11ea-920a-d035688ad5c5.png)

As you may notice in the picture the are situations where some of the cells (for stockholm 1022 out of 32509 cells) have no altitude value because there is no DEM intersection to calculate it.
For some reason and being different data sources DEM is not overlapping

[2020-02-26 09:08] humerh commented on #32
Can you show a satellite picture for such areas? What is real situation for such an area??

[2020-02-26 09:25] negroscuro commented on #32
Mmmmh I do not find satelllite imagery WMS services to connect to, do you know any?

[2020-02-26 10:07] stefanon commented on #32
This area should be covered by Google / Bing satellite at least. What DEM source are you using?

[2020-02-26 10:20] negroscuro commented on #32
I need a WMS URL to use from QGIS.
DEM is the one in ATOS FTP I do not know who provided, it is 25m resolution. I would say it is this from copernicus website:
https://land.copernicus.eu/imagery-in-situ/eu-dem/eu-dem-v1.1?tab=download

[2020-02-26 10:27] stefanon commented on #32
you can use XYZ Tiles for Google & c. or install Quick Map Services plugin

[2020-02-26 10:42] stefanon commented on #32
@negroscuro From EU-DEM 1.1 metadata can be read that the dataset is at 25m resolution with vertical accuracy: +/- 7 meters RMSE : so it's not improbable that in very mixed ground / water zones due to the vertical accuracy of the DEM areas that are classified for their landuse are instead shown as water bodies in the DEM.

[2020-02-26 10:54] negroscuro commented on #32
![image](https://user-images.githubusercontent.com/6427900/75338457-04a96780-588f-11ea-89f6-8a14b0d95322.png)
![image](https://user-images.githubusercontent.com/6427900/75338407-f3f8f180-588e-11ea-8da6-f7c0051a7235.png)

These are water areas where cells do not contain DEM data but there is Urban Atlas data.

This is the tree cell with no DEM data:
![image](https://user-images.githubusercontent.co

[2020-02-26 11:04] p-a-s-c-a-l commented on #33
Today I tried a new study for Naples, but it didn't produce any results:
- https://csis.myclimateservice.eu/study/109/step/3471/view/table
- https://csis.myclimateservice.eu/study/109/step/3474/view/table

@humerh Can you please check what's wrong?

[2020-02-26 12:27] stefanon commented on #32
How is the resampling done? An average for reducing the dem resolution shouldn't make a big difference on the result that needs to be calculated on a 500x500m grid

I agree you set the values to NULL where you've no data for the info you list, starting from DTM height, as a 0 value means something different.

[2020-02-26 12:44] negroscuro commented on #32
Bilinear.
Times got reduced a lot. From 30 minutes to 30 seconds or from 3 hours to 3 minutes.

Nice, lets see if @humerh  agrees this.
Thank you Stefano.

[2020-02-28 15:30] p-a-s-c-a-l commented on #33
I changed the study are of [study #109](https://csis.myclimateservice.eu/study/109/step/3474/view/table) to force a re-calculation but still not results available.

[2020-03-02 08:24] patrickkaleta commented on #33
According to the batch jobs it seems like the re-calculation was completed and there should be results available (8040 results for impact):
![results-available](https://user-images.githubusercontent.com/42167036/75657656-fd0b0980-5c66-11ea-94e6-7236bb478f82.png)

@humerh:
EmikatID for this particular study is 3351.

[2020-03-02 10:28] p-a-s-c-a-l commented on #33
O.K. Now it's working again:

![grafik](https://user-images.githubusercontent.com/1788226/75667927-c211d180-5c78-11ea-90aa-2874d82da61d.png)

Thanks! Closing.

[2020-03-02 10:37] humerh commented on #33
Please modify the URL for the reports in the following way:

Current link:
https://serrice.emikat.at/EmiKatTst/api/scenarios/3351/feature/view.2974/table/data?rownum=1000

to:
https://serrice.emikat.at/EmiKatTst/api/scenarios/3351/feature/view.2974/table/data?rownum=1000&filter=SZ_ID%3D3351            (3351=$emikat-id)

You should do it for the features "view.2974", "view.2975" and "view.2955".

T

[2020-03-03 10:16] DenoBeno commented on #33
Today we encountered an issue with this again.

Study no. 112, in Linz:
- the calculation took very long time, showing "step 9" for ages.
- https://csis.myclimateservice.eu/study/112/step/3625/view/table - baseline/rare values are 0
- https://csis.myclimateservice.eu/study/112/step/3625/view/maps - temperature indices aren't shown.

[2020-03-03 10:23] DenoBeno commented on #24
Mattia says that the temperature ranges are as they should now. Validating the results against better models is still on TODO

[2020-03-03 11:22] patrickkaleta commented on #33
This seems to be a new problem. Study 113 is currently also taking a lot of time at the very same step (it's the "**Rebuild Table CLY_HW_T_MRT**" batch job)

Those are probably related to the issue @humerh mentioned in his [comment](https://github.com/clarity-h2020/emikat/issues/33#issuecomment-593336482) yesterday. The filter SZ_ID={$emikatID} needs to be added to the requests made by the map and

[2020-03-03 13:20] patrickkaleta commented on #33
@humerh  EmikatID for the [Study 112](https://csis.myclimateservice.eu/study/112/view/intro) is **3352**

[2020-03-03 14:24] p-a-s-c-a-l commented on #33
Yes, I'm going to update the EMIKAT [template resources](https://github.com/clarity-h2020/data-package/issues/46#issuecomment-593360591).

[2020-03-03 14:51] patrickkaleta commented on #33
Regarding the longer than usual waiting times, Heinrich just told me that another Emikat client recently triggered a lot of processes, which got queued before our CSIS requests. Things should be back to normal tomorrow.

Heinrich is thinking about creating an independent queue just for our CSIS requests, so that this wouldn't happen to us again.

[2020-03-03 14:58] p-a-s-c-a-l commented on #33
@humerh AFAIR we've removed the SZ_ID filter parameter from all URLs because it don't work.

I've added parameter again, but now I'm running into the following error for `https://service.emikat.at/EmiKatTst/api/scenarios/3287/feature/view.2974/table/data?rownum=10&filter=STUDY_VARIANT%3D%27BASELINE%27&filter=TIME_PERIOD%3D%27Baseline%27&filter=EMISSIONS_SCENARIO%3D%27Baseline%27&filter=EVENT_FREQU

[2020-03-03 15:17] p-a-s-c-a-l commented on #33
I've temporarily reactivated the buggy [monitoring service](https://github.com/clarity-h2020/csis-technical-validation/issues/7) till the [new one](https://github.com/clarity-h2020/csis-technical-validation/issues/7) is implemented. I've deactivated mail notifications and and changed the EMIKAT polling interval to 2 hours.

You can check the status of services at [health-check.clarity.cismet.de](h

[2020-03-04 13:52] p-a-s-c-a-l commented on #33
This is strange. @humerh is the **order** of parameters important?

This works:

This works too:

This does **not** work:

However, this does:

[2020-03-04 14:01] p-a-s-c-a-l commented on #33
OK. now after changing the order of parameters, it works again.

![grafik](https://user-images.githubusercontent.com/1788226/75886680-ea403280-5e28-11ea-8d57-1059c9e48f61.png)

Seems I got hit again by the [principle of least surprise](https://en.wikipedia.org/wiki/Principle_of_least_astonishment). :-)

[2020-03-04 14:09] p-a-s-c-a-l commented on #33
OK, but there is still [this problem](https://github.com/clarity-h2020/csis/issues/147#issuecomment-594436038) with study 113.

[2020-03-06 08:25] DenoBeno commented on #33
From my point of view this can be closed. I'll open a couple of more specific issues in a minute but the study in Linz is doable now, I did one yestarday.

[2020-03-06 08:38] DenoBeno opened #34 "Replace automated study triggering with a dedicated "(re)calculate" button"
As it is, it's too easy to hit the re-calculation while the old calculation is already running. This has various negative effects. In the best case, it uses the resources unnecessary and makes the user wait longer than needed. Basically, if two calculations are triggered in the short time, user wil lend up looking at "0 from 11 processes" message for some 15 min or longer. In the worst case, user

[2020-03-06 09:13] p-a-s-c-a-l commented on #34
- KISS Solution: Don't allow re-calculation at all. If somebody wants to define  new study area, she/he has to create a new study.
- True agile approach: Implement the KISS solution, make [beta release](https://github.com/clarity-h2020/csis/issues/145), implement support for re-calculations, make next release

[2020-03-06 14:18] DenoBeno commented on #33
The service looks nice.

I do see one possible issue though. Today, I am not able to do any new calculations. What worked yesterday in Linz doesn't work today. There is even no error, it's just that there are no results shown in the end.

Old studies are still shown. New ones finish without error message but nothing is shown in the end. It would be nice if this could also be tested automatically.

[2020-03-11 08:18] humerh commented on #33
The last problems of calculation had all one reason:
Till now the bach jobs were elaborated by ONE Batch-Job  (for all emikat customers).
Last week one of the customers started two big jobs in the background. The consequence was, that the recalculation of Clarity jobs had very long delays as a consequence.
To overcome this problem I implemented a second JOB worker. My plan was, that one should be

[2020-03-11 10:18] p-a-s-c-a-l commented on #33
Currently, **no** EMIKAT results at all seem to be available. E.g. Please check the following studies:

https://csis.myclimateservice.eu/study/35/step/1524/view/table
https://csis.myclimateservice.eu/study/33/step/1513/view/table

I've recalculated Study 35 but still no result. @humerh Can you please check what's wrong?

[2020-03-11 14:40] patrickkaleta commented on #33
Related to [this](https://github.com/clarity-h2020/csis/issues/150?email_token=AKBWV7CUVIVWSMXDWASE37TRG537RA5CNFSM4LFCMJU2YY3PNVWWK3TUL52HS4DFVREXG43VMVBW63LNMVXHJKTDN5WW2ZLOORPWSZGOEOPIDYY#issuecomment-597655155). Results are actually there but are currently not displayed. Probably a permission issue on Emikat-side. Heinrich is investigating this.

[2020-03-11 16:17] humerh commented on #33
I deactivated the Job-Runner for deeper tests.
Now the service is available again.

[2020-03-12 16:31] patrickkaleta commented on #34
After discussions with Denis and seeing [usability](https://github.com/clarity-h2020/docker-drupal/issues/141#issuecomment-597617917) and [stability](https://github.com/clarity-h2020/docker-drupal/issues/141#issuecomment-597078027) issues, **the automated Emikat trigger has now been disabled and replaced** by a "Start calculations" button, which can be triggered by the Study owner in the Study sum

[2020-03-12 16:44] patrickkaleta commented on #34
Yes, that would've been an easier solution, but it would also give us just one shot for each study to get it right. If e.g. Emikat would suddenly generate errors (for example by [messing up the order of batch jobs](https://github.com/clarity-h2020/emikat/issues/33?email_token=AKBWV7FNOLPAI7P4KNJOVL3RG5CNLA5CNFSM4KVE3DO2YY3PNVWWK3TUL52HS4DFVREXG43VMVBW63LNMVXHJKTDN5WW2ZLOORPWSZGOEOOSH4I#issuecommen

[2020-03-18 18:48] negroscuro commented on #32
From my side height calculation is done and correct, let me know if you have any issue.

[2020-03-23 07:38] p-a-s-c-a-l commented on #33
See https://csis.myclimateservice.eu/maintenance/check-emikat-results

[2020-03-23 08:19] patrickkaleta commented on #34
No complaints so far, therefore closing this issue now.

[2020-03-23 08:19] #34 closed, assigned to patrickkaleta

[2020-03-23 11:46] DenoBeno commented on #33
I had a talk with Heinrich after the telco today. He has fixed some issues last week but didn't re-deploy the server afterwards.

After re-deploying the server again, we found out that the calculation worked OK on some places (Vienna, Barcelona) and failed elsewhere (Stockholm) while stating that all is OK.

Few minutes later, Heinrich discovered that the issue is with height information missing e

[2020-03-23 13:41] patrickkaleta commented on #34
As proposed by @DenoBeno the trigger button is now placed inside the new sidebar instead of the Summary page of the Study.

[2020-03-23 15:43] humerh commented on #33
As Denis said I had a problem with the naming of the function in batch processing.
I deployed this morning the adapted batch server. The calculation ist now ok.

The second problem (independend of the first one) was, the the heiht correction did not handle the situation, if the height data of some location does not exist till now.
I changed the calculation in that way, that I now will deeliver the

[2020-03-24 06:21] p-a-s-c-a-l commented on #33
Thanks. ATM it seems that the Test Study isn't working: [There have been 6 problem(s) in a total of 13 batchjobs](https://csis.myclimateservice.eu/maintenance/check-emikat-results).

See also https://github.com/clarity-h2020/csis/issues/153#issuecomment-603040305 and https://github.com/clarity-h2020/csis-technical-validation/issues/21

[2020-03-24 11:00] negroscuro commented on #33
Regarding height availability, only those cities have that data:

259	"REGGIO_DI_CALABRIA"
247	"BARI"
246	"GENOVA"
7	"SALZBURG"
245	"PALERMO"
244	"NAPOLI"
298	"KAUNAS"
305	"JELGAVA"
248	"BOLOGNA"
338	"GDANSK"
123	"BARCELONA" --> being generated right now
112	"TALLINN"
122	"MADRID"

Stockholm will be next city after Barcelona if you need it, since I am testing a bug fixing on land categorization wi

[2020-03-25 08:50] p-a-s-c-a-l commented on #32
Thanks! 👍

[2020-03-25 08:50] #32 closed, assigned to humerh, DanielRodera, claudiahahn, RobAndGo, NICDDB

[2020-03-25 11:17] negroscuro commented on #33
Due to an error on land categorization I am renewing database contents so cities will be available in some days, I am going one by one  generating them.

[2020-03-25 11:50] NICDDB commented on #33
Hi @p-a-s-c-a-l , @DenoBeno, @humerh me @stefanon and @mattia-leone  are working on validation and we have a problem: we create a study for Naples and it's work on map, but the table is not complete, there are only 100 rows in the table. We have a lot of urgency to have this data to complete the validation of the models, so we expect a quick response. Thank you all
<img width="629" alt="Schermata

[2020-03-25 12:01] negroscuro commented on #33
Sorry for the inconvenience, I was not aware you were using it during this morning and with such urgency. Napoli is currently being loaded it should end around 16:30h.
Data cannot be loaded if city is already there so I had to delete it first.

[2020-03-25 12:05] NICDDB commented on #33
ok Mario i understood, doesn't matter if it will be uploaded later today.

[2020-03-25 12:08] negroscuro commented on #33
I will let you know as soon as it is available again.

[2020-03-25 12:09] NICDDB commented on #33
ok thank you

[2020-03-25 14:47] negroscuro commented on #33
It seems like is taking longer than expected.

[2020-03-25 15:51] negroscuro commented on #33
It ended, now it is available for you to use it.

[2020-03-25 15:52] NICDDB commented on #33
Than You Mario

Nicola Addabbo

Il Mer 25 Mar 2020, 16:51 Mario Nuñez <notifications@github.com> ha scritto:

[2020-03-30 10:34] negroscuro commented on #32
Now there is an style for cell mean altitudes in layer land use grid:

![image](https://user-images.githubusercontent.com/6427900/77903179-bcf96f80-7282-11ea-9d92-1dc69fb36744.png)

http://services.clarity-h2020.eu:8080/geoserver/clarity/wms?service=WMS&version=1.1.0&request=GetMap&layers=clarity%3Aland_use_grid&bbox=3082000.0%2C1638500.0%2C5564000.0%2C4282500.0&width=720&height=768&srs=EPSG%3A303

[2020-03-30 10:37] negroscuro commented on #33
There is a new style o layer city to check city availability in the system:
-red, not available
-green, fully available
-yellow, not all hazards data available (pluvial flood/heat wave)

![image](https://user-images.githubusercontent.com/6427900/77903431-27aaab00-7283-11ea-8389-233436b3d3d6.png)

http://services.clarity-h2020.eu:8080/geoserver/clarity/wms?service=WMS&version=1.1.0&request=GetMap&l

[2020-03-30 13:01] negroscuro commented on #33
There is missing mortality population/deaths data for cities in Turkey area:

![image](https://user-images.githubusercontent.com/6427900/77915113-33a06800-7297-11ea-8cf7-19812b5792ad.png)

http://services.clarity-h2020.eu:8080/geoserver/clarity/wms?service=WMS&version=1.1.0&request=GetMap&layers=clarity%3Amortality&STYLES=mortality&bbox=1995203.0178%2C1014243.9784%2C7079558.6386%2C5270223.5146&wid

[2020-03-30 14:16] humerh commented on #33
Eurostat does not have many data from Turkey, because the EC delivers not as much money as Erdogan wishes :-)

![image](https://user-images.githubusercontent.com/20284964/77922436-50da3400-72a1-11ea-9eb8-1284f1a01529.png)

The last data we have are from 2004 and 2012.
For such cases I use internally a typical value of  0.01  (1%)) for the mortallity rate:

![image](https://user-images.githubuserco

[2020-03-30 14:17] humerh commented on #33
Sorry, the labels where not readable:
![image](https://user-images.githubusercontent.com/20284964/77922901-f68da300-72a1-11ea-9a71-1a394c0f4a60.png)

[2020-03-30 14:53] negroscuro commented on #33
So this means there is no need to add any data for them, will you use your default value (1%)
ok.
Thank you.

[2020-04-02 22:04] DenoBeno commented on #33
EMIKAT calculations have been working for a few days now (for me)

[2020-04-16 08:57] NICDDB opened #35 "CSIS validation"
Dear all,
we have done a first comparison between Plinivs simplified model and CSIS results. Plinivs model works on more detailed land use data we developed for the expert level analysis, and uses as aggregation for the final results the grid we have defined and use for risk assessment and impact simulation, here in Campania Region, also for seismic and volcanic risk, which is a square grid of cel

[2020-04-16 08:59] NICDDB commented on #35
@DenoBeno please, can you add to this issue also Robert Goler? I don't know his Github name!

[2020-04-21 09:11] RobAndGo commented on #35
As the CSIS results are consistently too low, is the error as simple as a multiplication or addition factor missing in the formula that CSIS uses?

[2020-04-21 09:31] mattia-leone commented on #35
as said, we think that the error is related to the different values currently used by emikat with respect to the parameter Ts/Ta, which we have calibrated only recently.
another factor is the value used for the global radiation in emikat, which we don't know, and of course we should input the same value in the plinivs model to perform the validation.
we are pretty confident that aligning these two

[2020-04-21 11:06] humerh commented on #35
I also think, that this are the main reason:

My simplified methode for calculation of radiation is:

theta = 180°C  (June 21st, 12:00)
eta = 90-latitude+23,45
G = 		1120W * sin(eta/180*PI)
D =	0,23 * G
I =	0.77 * G

Surface temperature Ts = Ta * (1+ SURFACE_FACTOR)

The SURFACE_FACTOR = 0.269  (for Water, Trees, Vegetaion and Agriculture)
    all other layers: 0.7552

[2020-04-21 12:04] stefanon commented on #35
Dear @humerh we can make a check for results with our model using the same simplified calculation for radiation, but about Ts you should use a table of values per landuse class like our estimated values obtained with other models comparison. If, as I understand, the calculation is done always for the same time of day, I can post a small table for Ts = f(Ta) to be feed to your procedure, and then c

[2020-04-24 08:13] DenoBeno commented on #35
If I understand it correctly, Heinrich is calculating

T_s= T_a* 1.269 - for all the greenish areas.

And it should be
T_s= T_a* 1,3239557 - agricultural
T_s= T_a* 1,4221519 - trees

...and so on. The table of the values is above, it just needs to be entered.

[2020-04-24 08:26] DenoBeno commented on #35
OK, Heinrich has entered all the factors as in the table above. This should result in 5 to 10% higher values depending on the surface type now. Please try.

Hmm... The difference is 14% now, so this will probably account for ca. 1/2 of the difference.

What I'm wondering now is if we are talking about the same areas? E.g., in EMIKAT the "X urban fabric", "public military" and "sports" layers only

[2020-04-24 08:57] DenoBeno commented on #35
I am currently re-calculating the data for "AIT demo" in Vienna. I have exported the old csv data for "worst case" and "historic" 1y and 20y events before re-starting the calculation:
- [AIT demo historic.1y.csv.gz](https://github.com/clarity-h2020/emikat/files/4527736/AIT.demo.historic.1y.csv.gz)
- [AIT demo historic.20y.csv.gz](https://github.com/clarity-h2020/emikat/files/4527737/AIT.demo.histo

[2020-04-24 09:04] NICDDB commented on #35
I apologize very much to all of you, but we have found some small errors in the previous temperature table, so it must be changed with this:

CSIS   LAYER | (1 + ts_incr)*incr_calibr
-- | --
agricoltural_areas | 1,309031853
built_open_spaces | 1,936701731
dense_urban_fabric | 1,930016816
low_urban_fabric | 1,930016816
medium_urban_fabric | 1,930016816
public_military_industrial | 1,930016816
railw

[2020-04-27 07:56] DenoBeno commented on #35
I don't know if this is with old or new table of values (probably old), but the results of the new calculations are IMO strange.

This is what I get for 20y reoccuring event in the past:

![image](https://user-images.githubusercontent.com/2961790/80348473-219def00-886e-11ea-9b30-bc4cc3f96953.png)

See the complete data for yourself...

[AIT demo historic.20y comparison.xlsx](https://github.com/cla

[2020-04-27 09:27] humerh commented on #35
I have updated the factors for calculation of Surface temperatur.

[2020-04-27 10:46] mattia-leone commented on #35
Hi @humerh , I am really sorry for the confusion this morning. We will work this week to address what discussed today about how to calculate the effect of adaptation strategies.
I suggest to talk again next Monday, hopefully we will have some easy solution for you to implement in Emikat.
I would also like to discuss better with @RobAndGo how to display flood results in the CSIS by linking the runo

[2020-04-27 17:33] stefanon commented on #35
I wish to add some details to the discussion about the flood calculations in this morning telco, in view of further discussion with @RobAndGo and all involved.
As told by @mattia-leone we produced a qualitative proxy variable that gives information on the propensity to flooding in the study area, to be used at the screening level. In this way only a few data are needed to define the parameters on

[2020-04-27 17:58] stefanon commented on #35
Here is the query that evaluates the attributes classes and the PF_prop value for each cell at the same time. The downloaded land-use data were stored in a table named "landuse_grid_full_200425" and that needs to be adapted:

[code]

[2020-04-28 08:08] DenoBeno commented on #35
Heinrich has updated all the parameters for heat model. Can you please re-validate the data for Naples ASAP now? If all is OK, I want to ask Lena to validate in Stockholm too.

[2020-05-04 06:59] RobAndGo commented on #35
Concerning the flooding, I have a question about the equation:

In the deliverable D3.3, there is the equation:
Total = [ ( p1 × 0.25 ) + ( p2 × 0.25 ) + ( p3 × 0.25 ) + ( p4 × 0.25 ) ]
where
p1 = runoff coefficient (cl_runoff)
p2 = relative elevation (cl_delta_elev)
p3 = flow accumulation streams (cl_streams)
p4 = emergency calls (not needed in above example)

Are these equations similar or do th

[2020-05-04 07:54] stefanon commented on #35
Dear @RobAndGo , they are similar as they want to indicate the same propensity for flooding, but the data available at expert level for Naples are different from what is available for all Europe, mainly the flow accumulation is missing, so a different formulation was elaborated with available data, D3.3 needs to be updated.

[2020-05-05 07:15] claudiahahn commented on #35
In the deliverable the indices (cl_streams, cl_delta_elev, cf_runoff, emergency calls) are multiplied by 0,25 (and if there are only 3 indices, they should be multiplied by 0,33).
But here you are multiplying by cl_delta_elev. Was that done to give the cl_delta_elev a higher weight?

[2020-05-05 08:40] stefanon commented on #35
Hi @claudiahahn, sorry for the confusion:

Exactly: the reason for this was that the formula used for Naples city and described in the deliverable used a layer that is the flow accumulation per cell, then classified to show the streams in the city area, while at EU screening level we have only the number of streams per cell obtained from the stream's path.

In the calculation procedure all the inv

[2020-05-06 06:52] claudiahahn commented on #35
Thank you @stefanon

[2020-05-11 19:46] RobAndGo commented on #35
I have generated the **daily precipitation values for the three precipitation events** that we (@claudiahahn @mattia-leone @stefanon @NICDDB) talked about last week, which are necessary for the PLINIVS flood local effect model.

As an example of what the data means, the following excel table shows an example for the Naples grid point, with each sheet (10 in total) representing either the baseline

[2020-05-13 08:35] p-a-s-c-a-l commented on #33
Resolved. Any problems will be automatically reported by our Integration Tests in https://github.com/clarity-h2020/csis-technical-validation/issues

[2020-05-13 08:42] p-a-s-c-a-l opened #36 "Implementation of pluvial flood model in EMIKAT"
I have generated the **daily precipitation values for the three precipitation events** that we (@claudiahahn @mattia-leone @stefanon @NICDDB) talked about last week, which are necessary for the PLINIVS flood local effect model.

As an example of what the data means, the following excel table shows an example for the Naples grid point, with each sheet (10 in total) representing either the baseline

[2020-05-13 08:43] p-a-s-c-a-l commented on #35
The flooding discussion is off-topic ;-) So I suggest to continue this in a [separate issue](https://github.com/clarity-h2020/emikat/issues/36).

Are we now confident with the results of the screening model?

[2020-05-13 08:44] #27 closed, assigned to DenoBeno, humerh, patrickkaleta, claudiahahn, RobAndGo

[2020-05-13 08:45] p-a-s-c-a-l commented on #16
Closed due to inactivity. Re-open if it becomes relevant again.

[2020-05-13 08:45] #16 closed, assigned to humerh, fgeyer16, patrickkaleta

[2020-05-13 08:46] p-a-s-c-a-l commented on #24
Great! So we can close. Validation is discussed [here](https://github.com/clarity-h2020/emikat/issues/35)

[2020-05-13 08:46] #24 closed, assigned to DenoBeno, stefanon, humerh, claudiahahn, RobAndGo, mattia-leone

[2020-05-13 09:08] p-a-s-c-a-l commented on #23
Short-Term Implementable improvements are considered [here](https://github.com/clarity-h2020/simple-table-component/issues/13) and [here](https://github.com/clarity-h2020/simple-table-component/issues/12).

[2020-05-13 09:08] #23 closed, assigned to DenoBeno, humerh, claudiahahn, RobAndGo

[2020-05-13 09:45] humerh commented on #36
It looks fine. We will import data to emikat.

[2020-05-13 17:38] NICDDB commented on #35
@p-a-s-c-a-l yes, the result of the CSIS screening model is now similar to PLINIVS model.

The mean difference between CSIS results and PLINIVS results is -4 °C (CSIS – PLINIVS).

This can be justified by the different land-use basis of two models, the attribution of shadow (the CSIS model does not consider shadows while the plinivs model does it), and there is also a small difference in diffuse a

[2020-05-14 08:00] p-a-s-c-a-l opened #37 "Permission issue when accesing EMIKAT REST API"
I think it could be a permission issue.

Example URL called by the Table app: https://service.emikat.at/EmiKatTst/api/scenarios/3209/feature/view.2975/table/data?rownum=1000&filter=SZ_ID=3209&filter=STUDY_VARIANT%3D%27BASELINE%27&filter=TIME_PERIOD%3D%27Baseline%27&filter=EMISSIONS_SCENARIO%3D%27Baseline%27&filter=EVENT_FREQUENCY%3D%27Frequent%27&column=GRID_ID&column=STUDY_VARIANT&column=TIME_PER

[2020-05-18 14:56] p-a-s-c-a-l commented on #37
resolved

[2020-05-18 14:56] #37 closed, assigned to DenoBeno, humerh

[2020-05-27 09:42] p-a-s-c-a-l opened #38 "Update CLARITY GeoServer URIs in EMIKAT"
All layers [have moved](https://github.com/clarity-h2020/ckan/issues/23) to geoserver.myclimateservice.eu, herfore URLS used by EMIKAT to access the layers have to be updated, too. ~~Please note that there is still an [open issue](https://github.com/clarity-h2020/data-package/issues/67) with layer names having changed.~~

[2020-05-28 10:27] p-a-s-c-a-l opened #39 "EMIKAT WMS down?"
@mattia-leone reported today that the HC-LE layers are not shown on the map. But I don't know which study he was using. Anyway, I've tested several studies and it looks like a general problem with EMIKAT's WMS. Currently, the following HC-LE / IA layers do no work:

- https://csis.myclimateservice.eu/study/35/step/1528/view/maps
- https://csis.myclimateservice.eu/study/1/step/83/view/maps
- https:

[2020-05-28 10:30] p-a-s-c-a-l commented on #39
No, even after re-calculating study1 (EMIKAT ID: 2846), WMS delivers and [empty image](https://service.emikat.at/geoserver/clarity/wms?CQL_FILTER=STUDY_VARIANT=%27BASELINE%27%20and%20TIME_PERIOD=%27Baseline%27%20AND%20EMISSIONS_SCENARIO=%27Baseline%27%20AND%20EVENT_FREQUENCY=%27Rare%27%20AND%20SZ_ID=2846&&service=WMS&request=GetMap&layers=clarity%3Aview.2974&styles=T_UTCI%0D%0A&format=image%2Fpng&

[2020-05-29 07:33] p-a-s-c-a-l opened #40 "Urban Area and Country missing in HC API request"
HC Table for Study 33 and 35 is missing Urban Area and Country: https://csis.myclimateservice.eu/study/33/step/1519/view/table

![grafik](https://user-images.githubusercontent.com/1788226/83233398-eb1a0380-a18e-11ea-8835-fc7490ae6086.png)

The related API request: https://service.emikat.at/EmiKatTst/api/scenarios/3209/feature/tab.CLY_HAZARD_EVENTS_STUDY.2036/table/data?rownum=1000

I've recalculat

[2020-05-29 08:50] therter commented on #40
The country and the city are correctly selected in study 33, study 35 and study 1. But perhaps, the city name or city code (I don't know, what value is used in emikat) are not identical in csis and emikat and for this reason, the city is not recognised in emikat.

The city name of study 33 is ALBA_IULIA and the city code is RO014.
The city name of study 35 is ATHINA and the city code is EL001.

[2020-05-29 10:22] p-a-s-c-a-l commented on #39
O.K. layers are working again, thanks! What caused the issue?

I want to keep this issue open so that we can find a solution for error detection and quick remediation, e.g. in case this happens again during live webinar or any other demonstration of the system.

[2020-06-04 07:40] RobAndGo commented on #36
@p-a-s-c-a-l @humerh @stefanon @NICDDB

I just wanted to post an update to the maximum daily precipitation files from my last [post](https://github.com/clarity-h2020/emikat/issues/36#issue-617260325).

The format is the same, with only the precipitation values changing. As a reminder, the precipitation values are shown in the last 3 columns and represent the values of maximum daily precipitation (

[2020-06-04 11:01] humerh commented on #36
... Job for next week ...

[2020-06-05 06:11] p-a-s-c-a-l commented on #38
What is the status here?

[2020-06-05 11:59] p-a-s-c-a-l opened #41 "WMS Legends are mising information"
Description and unit in legends is missing, so it's not clear for the user what is shown here on the map:

![grafik](https://user-images.githubusercontent.com/1788226/83873618-669e2680-a734-11ea-96b0-a013d167d51c.png)

![grafik](https://user-images.githubusercontent.com/1788226/83873658-7d447d80-a734-11ea-8465-758cdec04c19.png)

![grafik](https://user-images.githubusercontent.com/1788226/83873728-

[2020-06-05 12:02] p-a-s-c-a-l commented on #40
Same problem with [this new study](https://csis.myclimateservice.eu/study/155/step/4449/view/table) in Palermo:

![grafik](https://user-images.githubusercontent.com/1788226/83873980-15426700-a735-11ea-86dc-f3f24fd2ca17.png)

Any chance that this can get fixed before the 1st webinar?

[2020-06-05 12:08] p-a-s-c-a-l commented on #36
I think before spending more time on this, the [other issues](https://github.com/clarity-h2020/emikat/issues?q=is%3Aissue+is%3Aopen+label%3Abug) should be addressed with high priority before the 1st webinar on 11/06/2020. Furthermore, it has to be made sure that the implementation of the pf model does not disturb the service, especially not during live demonstration.

[2020-06-07 10:45] RobAndGo opened #42 "New (better) heatwave data"
First of all, this issue is not important and can be taken care of later.

This concerns the representation of the heatwave events (frequent, occasional, rare) data that can be found in the table [here](https://github.com/clarity-h2020/simple-table-component/issues/13#issuecomment-635944332).

Although this representation is useful for the further calculations for PLINIVS, it is **not really clear

[2020-06-10 09:20] p-a-s-c-a-l opened #43 "EMIKAT REST API Service Monitoring blocked?"
EMIKAT API checks that are performed by https://health-check.clarity.cismet.de now  [keep failing](https://github.com/clarity-h2020/csis-technical-validation/issues/48), although EMIKAT APIs are reachable via Browser or URL.

E.g. requests to `https://service.emikat.at/EmiKatTst/api/service/version` sent from browser or curl with appropriate basic auth headers return

The same request sent from he

[2020-06-10 09:54] p-a-s-c-a-l commented on #43
BTW, https://service.emikat.at/EmiKatTst/swagger/index.html can be [successfully checked](https://service.emikat.at/EmiKatTst/swagger/index.html) by monitoring service, also with basic auth.

But all requests to EmiKatTst/api keep failing with error code 400.

[2020-06-10 15:42] humerh commented on #43
Maybe you have to use the request:
https://service.emikat.at/EmiKatTst/api/swagger.json

[2020-06-11 10:25] humerh commented on #35
Dear @stefanon ,

concerning the parts of the formulas, like:

Would it be acceptable to build this min/max aggregation functions for the "STUDY AREA", and not for the CITY?
Or is this region for building this min/max defined in another way (like region of river BASIN)?

[2020-06-11 16:31] stefanon commented on #36
Dear @humerh
I'm answering your question here, as this is the issue for the flooding :)

this aggregation was done on the layer **clarity:land_use_grid** that I retrieved as WFS from Clarity server. The only attribute in it that discriminates the data for location is this 'City' code number, so I used it, after verifying on map that every code references to what I think is a study area, for doing

[2020-06-11 16:33] stefanon commented on #35
Dear @humerh ,

as the flooding discussion is off topic here, I've answered you here: https://github.com/clarity-h2020/emikat/issues/36#issuecomment-642792781

[2020-06-12 07:46] humerh commented on #36
The aggregation in the "study area" would be the best and also simplest way, because I fetch always the grid cells from the layer "clarity:land_use_grid" exactly for this "study area".

So I will try to implement this formula using this assumption.

[2020-06-12 07:47] humerh commented on #36
@RobAndGo

I finalized the import of the new version of maximum daily precipitation.

[2020-06-12 07:53] stefanon commented on #36
This sounds good, but can I ask how do you fetch the cells for the study area from "clarity:land_use_grid"? Am I missing some other data/layer?

[2020-06-12 08:21] humerh commented on #36
http://geoserver.myclimateservice.eu/geoserver/clarity/ows?service=WFS&version=1.0.0&request=GetFeature&typeName=clarity%3Aland_use_grid&maxFeatures=100000&bbox=16.317125%2C48.250858%2C16.51531%2C48.290538%2CEPSG:4326&outputFormat=SHAPE-ZIP

The bounding box is the bounding of the study area.

[2020-06-12 08:37] stefanon commented on #36
![image](https://user-images.githubusercontent.com/9317034/84482550-3e647980-ac98-11ea-8abc-03a180e2aafa.png)
so we are talking of very different things. In yellow your study area, in blue the cells with the same City code for Vienna. The aggregation calculations need to be done on this extension of cells for not to leave values out.

[2020-06-12 08:51] humerh commented on #36
Okay, now it is unambiguous!
So I need for that an extra fetch for the boundary of the whole city area. :(

[2020-06-12 16:37] stefanon commented on #36
I don't know how your work is organized, but I've made a view with the query I shared in the other post, and use it as the pf_propensity layer. Can a similar view be built in the WFS server as a new layer and make the work simpler?

[2020-06-16 08:22] humerh commented on #36
![image](https://user-images.githubusercontent.com/20284964/84749951-f193e200-afba-11ea-9cfc-9b14e49cff9c.png)

First run of calculation of  Preciptation Flooding Propensity for the study area "Urban heat screening Vienna North / AIT | 25"

[2020-06-16 08:23] humerh commented on #36
sorry for closing the issue, this was a mistake.

[2020-06-16 09:31] stefanon commented on #36
@humerh, cutting my map on the study area it seems we're getting the same results, apart from some cells...

![pf wien comparison](https://user-images.githubusercontent.com/9317034/84756834-9e725d00-afc3-11ea-8b09-387ba74a17dc.png)

the difference should be in the layer class boundaries of the classification used. QGIS uses these rules:
for the FIRST CLASS ONLY, it's value >= lower_range AND value

[2020-06-16 10:14] humerh commented on #36
Yes, it seems that the classification rules make the difference.

The next steps for calculation of impact are not so clear for me.
We have to join these results to the propability of the events and to the costs.
Maybe you have an instruction for this.

[2020-06-17 10:45] stefanon commented on #36
Dear @RobAndGo

about the data of the daily precipitation files, can I found somewhere a vector grid of cells for the points you have produced (I suppose they are the centroids of the grid cells)?

[2020-06-17 10:48] stefanon commented on #36
I've done the part that considers the rain probability for Naples, and I'm working on extending to the new precipitation data set available, with proper scaling and classification.

[2020-06-17 16:44] stefanon commented on #36
Sorry @RobAndGo but I have another question...

There was too much land cut off from the coasts, e.g. Naples was also affected

I managed to find a way to assign precipitation values from your "europe_pr" data files to the cells of land_use layer to be used in the calculation, but I've found that the problem of land cut off from the coasts still happens, and not only for Naples. These are two samp

[2020-06-18 08:27] claudiahahn commented on #36
Dear @stefanon, Thanks for checking the data and pointing out this issue!!
Robert is on vacation this week, which is why he did not respond yet. He will be back next week.

I think it should be possible to use another mask, when cutting out the sea part. If not, it would also be an option to provide data including the sea. This would resolve issues on the coast. But Robert knows best what is easie

[2020-06-18 09:17] stefanon commented on #36
Dear @claudiahahn
thank you for your answer and info, for me this is not a big problem, I can continue to work anyway and then use the revised data when they'll be available.

[2020-06-23 08:45] RobAndGo commented on #36
Hi @stefanon
I have attached here the unmasked model data for the 3 future periods with the 3 rcp scenarios here:

[events_20110101-20401231_rcp26_final.csv.txt](https://github.com/clarity-h2020/emikat/files/4818150/events_20110101-20401231_rcp26_final.csv.txt)
[events_20110101-20401231_rcp45_final.csv.txt](https://github.com/clarity-h2020/emikat/files/4818154/events_20110101-20401231_rcp45_final.

[2020-06-24 14:03] p-a-s-c-a-l commented on #43
thanks!

[2020-06-24 14:03] #43 closed, assigned to humerh

[2020-06-24 14:05] p-a-s-c-a-l commented on #41
See also [this issue](https://github.com/clarity-h2020/data-package/issues/71). Maybe we are able to find a common solution.

[2020-06-29 08:12] stefanon commented on #36
Hi @RobAndGo and @humerh

I managed to include the precipitation data in the flooding propensity variable, the thing required a rearrangement of the procedure I've developed before, with also a bug fix, and the results are like this:

![pf_prop_freq_rcp4071](https://user-images.githubusercontent.com/9317034/85989288-9c12f880-b9f0-11ea-8cb3-826291515284.png)

PF prop. frequent event RCP45 2040-2071

[2020-06-29 09:02] p-a-s-c-a-l commented on #8
done

[2020-06-29 09:02] #8 closed, assigned to humerh

[2020-06-29 09:03] p-a-s-c-a-l commented on #38
I guess it's done.

[2020-06-29 09:03] #38 closed, assigned to humerh

[2020-06-29 09:03] p-a-s-c-a-l commented on #39
resolved.

[2020-06-29 09:03] #39 closed, assigned to DenoBeno, humerh, patrickkaleta

[2020-06-29 09:04] p-a-s-c-a-l commented on #40
I've hidden the respective columns in the table - kind of a solution.

[2020-06-29 09:04] #40 closed, assigned to DenoBeno, humerh

[2020-06-29 12:55] p-a-s-c-a-l commented on #41
@therter / @ghilbrae any advice here?
It should be relativity easy to include the value + unit (feature property?) in the legend, right? So @humerh can implement this in his WMS.

[2020-07-01 13:56] p-a-s-c-a-l opened #44 "Integration of pluvial flood model results in CSIS"
Now that [pluvial flood model in EMIKAT](https://github.com/clarity-h2020/emikat/issues/36) is implemented, I want to raise the question how to integrate the results in [Advanced Screening: Urban Infrastructure](https://csis-dev.myclimateservice.eu/taxonomy/study-type/screening-urban) studies.

1st we need to know how the PV results can be accessed. ATM, we load HW Events, HW LE (tmrt, etc.), HW I

[2020-07-06 23:18] stefanon commented on #36
Updated Pluvial Flood model that includes the precipitation data.

I’ve completed the evaluation of the proxy variable ‘propensity to flooding’ that was first detailed in this ‘off-topic’ post here:
https://github.com/clarity-h2020/emikat/issues/35#issuecomment-620128024

The refinement done allows now to consider the effect of the mm of rain for the events in the study period, and also cleaned-up

[2020-07-06 23:38] stefanon commented on #36
A sample result of the above model is:

PF prop. frequent event RCP45 2040-2071 :

![pf_rcp45_f](https://user-images.githubusercontent.com/9317034/86665770-3cb87800-bff0-11ea-8f6f-8eee837713eb.png)

PF prop. occasional event RCP45 2040-2071 :

![pf_rcp45_o](https://user-images.githubusercontent.com/9317034/86665809-46da7680-bff0-11ea-99c4-9ae44f2076a8.png)

PF prop. rare event RCP45 2040-2071 :

!

[2020-07-08 13:25] p-a-s-c-a-l commented on #35
resolved

[2020-07-08 13:25] #35 closed, assigned to DenoBeno, stefanon, humerh, patrickkaleta, RobAndGo, mattia-leone, NICDDB

[2020-07-09 06:44] p-a-s-c-a-l opened #45 "EMIKAT Permission Problem"
It seems that we've lost all data (HC-LE, Impact) for studies 33 and 35, at least. E.g. see [here](https://service.emikat.at/EmiKatTst/api/scenarios/3189/feature/view.2974/table/data?rownum=1000&filter=SZ_ID=3189).

Is there any limit for the number of study data that is stored in EMIKAT? Are 'old' studies cleaned up from time to time? If yes, this is something we have to let the user known about.

[2020-07-09 08:42] patrickkaleta commented on #45
Data is still there. I can see the [rows](https://service.emikat.at/EmiKatTst/api/scenarios/3189/feature/view.2974/table/data?rownum=1000&filter=SZ_ID=3189) when I use my Emikat account (which has different permissions than the `GAST` account used by the CSIS). **So data is not lost, but it seems that there is a permission issue on the Emikat-side, so @humerh will have to investigate this.**

No,

[2020-07-09 08:56] p-a-s-c-a-l commented on #45
O.K, that explains why I can't see any data even after recalculating the studies. Is there a chance that this get fixed before next week @humerh  @DenoBeno ?

[2020-07-13 07:02] patrickkaleta commented on #45
@humerh restarted the Emikat service and now it seems to be working again.

[2020-07-16 14:32] humerh commented on #44
Now I have finished the implementation of Pluvial flood in version 1.0.
It includes the local effects, the impact calculation, the preparation for adaptation options and the costs.

See:
https://github.com/clarity-h2020/csis/wiki/Services-endpoints-(used-by-CSIS)

[2020-07-16 14:33] humerh commented on #36
Now I have finished the implementation of Pluvial flood in version 1.0.
It includes the local effects, the impact calculation, the preparation for adaptation options and the costs.

See:
https://github.com/clarity-h2020/csis/wiki/Services-endpoints-(used-by-CSIS)

[2020-07-16 14:34] humerh commented on #17
Now I have finished the implementation of  Adaptation options, including the cost model in version 1.0.

See:
https://github.com/clarity-h2020/csis/wiki/Services-endpoints-(used-by-CSIS)

[2020-07-17 10:29] #45 closed, assigned to DenoBeno, humerh

[2020-07-20 14:41] p-a-s-c-a-l commented on #44
See https://github.com/clarity-h2020/data-package/issues/77 and https://github.com/clarity-h2020/data-package/issues/54

[2020-07-20 14:41] #44 closed, assigned to p-a-s-c-a-l, humerh, patrickkaleta

[2020-07-20 14:42] p-a-s-c-a-l commented on #33
[Again](https://github.com/clarity-h2020/csis-technical-validation/issues/98#issuecomment-661059584)

[2020-07-20 14:44] p-a-s-c-a-l opened #46 "Combined Heat and Flood Views"
As decided today, we want to use [one table](https://github.com/clarity-h2020/simple-table-component/issues/18) for
- [x] Heat and Flood Exposure
- [x] Heat and Flood Hazard ❔
- [x] Heat and Flood Hazard with Local Effects
- [x] Heat and Flood Impact

and show indicators for

- [x] **aggregated** heat and flood impact

in [Scenario Analysis](https://github.com/clarity-h2020/scenario-analysis/issue

[2020-07-21 06:38] p-a-s-c-a-l opened #47 "EMIKAT WMS doesn't accept parameter SZ_ID"
Heat Wave **HC-LE Maps** not working any more after recalculating studies 33 and 35:
- https://csis.myclimateservice.eu/study/33/step/1513/view/maps
- https://csis.myclimateservice.eu/study/35/step/1524/view/maps

This is the WMS request:

[code]

This is the WMS response:

[code]
**Note:** In [Exposure Maps](https://csis.myclimateservice.eu/study/33/step/1518/view/maps) for example, SZ_ID is work

[2020-07-21 07:57] humerh commented on #47
There was a configuration problem. It should be solved.

[2020-07-21 08:29] p-a-s-c-a-l commented on #47
works again, thanks!

[2020-07-21 08:29] #47 closed, assigned to DenoBeno, humerh, patrickkaleta

[2020-07-22 13:53] p-a-s-c-a-l commented on #33
ID: 77240, Name: Rebuild Table CLY_IMPACT_RESULT_HW#1838, Status: INI, Message:
    ID: 77238, Name: Rebuild Table CLY_HW_T_MRT#1856, Status: INI, Message:
    ID: 77237, Name: Rebuild Table CLY_HW_FLUXES#1856, Status: INI, Message:
    ID: 77236, Name: Rebuild Table CLY_HW_GRID_DETAILS_PROJ#1856, Status: INI, Message:
    ID: 77235, Name: Rebuild Table CLY_HW_GRID_DETAILS#1856, Status: INI, Messa

[2020-07-24 09:50] p-a-s-c-a-l commented on #17
I still have problems retrieving data for adaptation scenarios. Especially **aggregated** data needed for [Scenario Analysis](https://github.com/clarity-h2020/scenario-analysis/issues/25) doesn't seem to be available in "view.2994" which is btw not listed under [Services Endpoints](https://github.com/clarity-h2020/csis/wiki/Services-endpoints-(used-by-CSIS)).

Examples:
- https://service.emikat.at

[2020-07-24 10:20] p-a-s-c-a-l commented on #17
![image](https://user-images.githubusercontent.com/1788226/88381892-a504a900-cda7-11ea-84c1-371d40dc49fd.png)

I've tried to recalculate study 35, but it's again stuck at 14/17 processes. Encountered the [same problem](https://github.com/clarity-h2020/map-component/issues/100#issuecomment-662863461) yesterday and over night it resolved it self, either because the processes actually finished or EMI

[2020-07-24 10:39] p-a-s-c-a-l commented on #17
I don't know what happened, but suddenly view.2994 of study 163/3207 now contains ADAPTATION-01 scenario data:
https://service.emikat.at/EmiKatTst/api/scenarios/3207/feature/view.2994/table/data

It really seems that adaptation scenarios appear and disappear at random. ❓

[2020-07-24 10:42] p-a-s-c-a-l commented on #17
Strange: [Study 35](https://csis.myclimateservice.eu/study/35/step/1528/view/scenario-analysis) still shows 14/17 processes but adaptation data [is now available](https://service.emikat.at/EmiKatTst/api/scenarios/3207/feature/view.2994/table/data) for this study.

[2020-07-24 11:01] p-a-s-c-a-l commented on #17
And suddenly, the [data](https://service.emikat.at/EmiKatTst/api/scenarios/3207/feature/view.2994/table/data) disappeared:

``
{"name":"TAB Impact on Heat wave (Mortality) ","description":"TAB Impact on Heat wave (Mortality) \nSum of impacts (calculated statistically expected mortality count as consequence of this Event) on Heatwave in Study Area\nEach cell expresses the calculated statistically e

[2020-07-24 11:05] p-a-s-c-a-l commented on #33
![image](https://user-images.githubusercontent.com/1788226/88385267-50b0f780-cdae-11ea-9deb-ba4bbb969135.png)

Since nobody is reading this anyway, I can close again.

[2020-07-24 11:05] #33 closed, assigned to DenoBeno, humerh, patrickkaleta, DanielRodera

[2020-07-24 11:06] p-a-s-c-a-l commented on #41
probably wont fix.

[2020-07-24 11:06] #41 closed, assigned to humerh

[2020-07-24 11:18] p-a-s-c-a-l commented on #17
Here we go [again](https://service.emikat.at/EmiKatTst/api/scenarios/3189/feature/view.2994/table/data):

''
{"name":"TAB Impact on Heat wave (Mortality) ","description":"TAB Impact on Heat wave (Mortality) \nSum of impacts (calculated statistically expected mortality count as consequence of this Event) on Heatwave in Study Area\nEach cell expresses the calculated statistically expected mortality

[2020-07-24 11:21] patrickkaleta commented on #17
Batch job "Rebuild Table CLY_HW_T_MRT#1856" has been stuck since 12:08, so there's definitely a problem there. @humerh please investigate this.

The batch jobs for the Adaptation options are executed before that, so this might explain why results are available. But since the whole process is not completed, it's difficult to say which results are actually available and which might just have been ca

[2020-07-27 13:41] humerh commented on #17
You have to add a filter criteria:  &filter=SZ_ID%3D3183

like this: https://service.emikat.at/EmiKatTst/api/scenarios/3183/feature/view.2994/table/data?rownum=1000&filter=SZ_ID%3D3183

Otherwise you get an arbitrary study back.

[2020-07-28 15:59] humerh commented on #46
Heat and Flood Exposure   -> view.2955
 Heat and Flood Hazard with Local Effects  -> view.3154
 Heat and Flood Impact  -> view.3155
 Aggregated heat and flood impact   -> view.2994

Please test the new views.

[2020-07-29 07:13] p-a-s-c-a-l commented on #46
This table does not contain any flood exposure data but just population.

[2020-07-29 07:43] p-a-s-c-a-l commented on #46
BTW, is there no flood **hazards** data available @humerh ?

[2020-07-29 08:55] humerh commented on #46
Heat and Flood Exposure -> view.2955
includes now also three columns from Urban Atlas for the areas
 ROADS_M2
 RESIDENTIAL_BUILDINGS_M2
 NON_RESIDENTIAL_BUILDINGS_M2

[2020-07-29 08:59] humerh commented on #46
I don't understand. Which Study do you use?

[2020-07-29 09:37] p-a-s-c-a-l commented on #46
Sorry, I forgot that `tab.CLY_HAZARD_EVENTS_STUDY.2036` is already a combined flood **and** heat hazards table.

[2020-08-03 12:05] p-a-s-c-a-l opened #48 "EMIKAT GeoServer runs out of memory"
I've successfully tested the HC-LE PF layer:

https://service.emikat.at/geoserver/clarity/wms?CQL_FILTER=STUDY_VARIANT=%27BASELINE%27%20and%20TIME_PERIOD=%27Baseline%27%20AND%20EMISSIONS_SCENARIO=%27Baseline%27%20AND%20EVENT_FREQUENCY=%27Rare%27%20AND%20SZ_ID=3183&&service=WMS&request=GetMap&version=1.1.1&layers=clarity%3Aview.3154&styles=PF_PROP&format=image%2Fpng&transparent=true&tileSize=1536&i

[2020-08-03 14:05] p-a-s-c-a-l opened #49 "Missing WMS Layers"
[\[Impact results combined\] for each Scenario, Time period, typical Events and for each Adaptation Project:](https://github.com/clarity-h2020/csis/wiki/Services-endpoints-(used-by-CSIS)#impact-results-combined-for-each-scenario-time-period-typical-events-and-for-each-adaptation-project)

**HW_DAMAGEQUANITITY** (number of affected persons) not working:

https://service.emikat.at/geoserver/clarity/

[2020-08-03 14:11] p-a-s-c-a-l commented on #49
**HW_DAMAGEPROBABILITY** not working:

https://service.emikat.at/geoserver/clarity/wms?CQL_FILTER=STUDY_VARIANT=%27BASELINE%27%20and%20TIME_PERIOD=%27Baseline%27%20AND%20EMISSIONS_SCENARIO=%27Baseline%27%20AND%20EVENT_FREQUENCY=%27Rare%27%20AND%20SZ_ID=3183&&service=WMS&request=GetMap&version=1.1.1&layers=clarity%3Aview.3155&styles=HW_DAMAGEPROBABILITY%0D%0A&format=image%2Fpng&transparent=true&til

[2020-08-03 14:32] p-a-s-c-a-l commented on #49
**PF_DAMAGEPROPABILITY** not working :

https://service.emikat.at/geoserver/clarity/wms?CQL_FILTER=STUDY_VARIANT=%27BASELINE%27%20and%20TIME_PERIOD=%27Baseline%27%20AND%20EMISSIONS_SCENARIO=%27Baseline%27%20AND%20EVENT_FREQUENCY=%27Rare%27%20AND%20SZ_ID=3183&&service=WMS&request=GetMap&version=1.1.1&layers=clarity%3Aview.3155&styles=HW_DAMAGEPROBABILITY%0D%0A&format=image%2Fpng&transparent=true&ti

[2020-08-03 14:52] humerh commented on #49
Schreibweise ist:
HW_DAMAGEQUANTITY (statt HW_DAMAGEQUANITITY)
Das sollte der Fehler sein.

Ich schaue gleich im Wiki nach, ob mich verschrieben habe.

[2020-08-04 07:44] humerh commented on #48
Hier scheint die "bbox" nicht zu stimmen:

Euer Beispiel:
https://service.emikat.at/geoserver/clarity/wms?service=WMS&version=1.1.0&request=GetMap&layers=clarity:view.3154&bbox=4672000.0,1979500.0,4687500.0,1988000.0&width=768&height=421&srs=EPSG:3035&format=image/gif&CQL_FILTER=STUDY_VARIANT='BASELINE' and TIME_PERIOD='Baseline' AND EMISSIONS_SCENARIO='Baseline' AND EVENT_FREQUENCY='Rare' AND SZ_

[2020-08-04 07:45] humerh commented on #48
"out of memory" habe ich nicht rekonstruiren können.

[2020-08-04 07:56] #48 closed, assigned to DenoBeno, humerh

[2020-08-04 07:59] p-a-s-c-a-l commented on #46
Done. Integrated in [Tables](https://github.com/clarity-h2020/simple-table-component/issues/18#issuecomment-666354471) and [Scenario Analysis](https://github.com/clarity-h2020/scenario-analysis/issues/24#issuecomment-668445190).

[2020-08-04 07:59] #46 closed, assigned to humerh

[2020-08-04 08:03] p-a-s-c-a-l commented on #49
OK. Thanks.

Open issues: no styles PF_DAMAGEPROPABILITY and HW_DAMAGEPROBABILITY in view 3155

- The requested Style can not be used with this layer.  The style specifies an attribute of PF_DAMAGEPROPABILITY and the layer is: clarity:view.3155
- No such style: HW_DAMAGEPROBABILITY

[2020-08-04 08:48] humerh commented on #49
The correct spelling is:
HW_DAMAGEPROBABILITY
PF_DAMAGEPROBABILITY

sorry for these spelling errors.

[2020-08-06 08:19] p-a-s-c-a-l commented on #49
Thanks. HW_DAMAGEPROBABILITY is working now but PF_DAMAGEPROBABILITY not:

[code]

- [Map](https://csis.myclimateservice.eu/study/195/step/5695/view/maps)
- [WMS Request](https://service.emikat.at/geoserver/clarity/wms?CQL_FILTER=STUDY_VARIANT=%27BASELINE%27%20and%20TIME_PERIOD=%2720410101-20701231%27%20AND%20EMISSIONS_SCENARIO=%27rcp45%27%20AND%20EVENT_FREQUENCY=%27Frequent%27%20AND%20SZ_ID=3566&

[2020-08-06 08:51] p-a-s-c-a-l commented on #49
See https://github.com/clarity-h2020/csis/issues/154#issuecomment-669331990

So no further action regarding PF_DAMAGEPROBABILITY required.

[2020-08-06 08:51] #49 closed, assigned to DenoBeno, humerh

[2020-08-06 11:02] p-a-s-c-a-l opened #50 "Update Exposure View, Table and Map"
As suggested by @mattia-leone in https://github.com/clarity-h2020/csis/issues/154#issuecomment-669814663, the columns HW_POPULATION_DENSITY_CLASS and HW_EXPOSEDQUANTITY have to be made available in EMIKAT View [Exposure data (Population) calculated from EMIKAT](https://github.com/clarity-h2020/csis/wiki/Services-endpoints-(used-by-CSIS)#exposure-data-population-calculated-from-emikat) so that we c

[2020-08-07 11:50] p-a-s-c-a-l opened #51 "Documentation"
Please update [emikat/readme.md](https://github.com/clarity-h2020/emikat/blob/master/README.md) and [csis/readme.md](https://github.com/clarity-h2020/csis/blob/master/README.md#ait-emikat) and provide implementation and deployment description for EMIKAT. See [ckan](https://github.com/clarity-h2020/ckan/blob/csis-dev.ait.ac.at/README.md) or [docker-drupal](https://github.com/clarity-h2020/docker-dr

[2020-08-07 12:47] p-a-s-c-a-l opened #52 "Economic impact (Flood)"
ok, I ask @humerh also to double check if the classification and style of the layer "flood damage class" is correct with respect to what indicated by @stefanon and me. I see almost everything red on that layer, while the damage in euro is much more diversified and more in line with the results I would expect in terms of impact.
I really don't understand the meaning of the "flood damage class" laye

[2020-08-07 12:54] p-a-s-c-a-l commented on #52
Instead of one just one column / layer `PF_FLOOD_IMPACT_EURO` for the flood impacts in Euro, we need three separate categories

- Economic impact on roads (Flood)
- Economic impact on residential buildings (Flood)
- Economic impact on non-residential buildings (Flood)

Once the [view.3155](https://github.com/clarity-h2020/csis/wiki/Services-endpoints-(used-by-CSIS)#impact-results-combined-for-each

[2020-08-07 13:19] p-a-s-c-a-l commented on #50
I **moved** the *service paths (references)* [Population Density Class](https://csis-dev.myclimateservice.eu/node/5172) and [Number of exposed persons](https://csis-dev.myclimateservice.eu/node/1357) from *Resource* [Heat mortality risk/impact screening](https://csis-dev.myclimateservice.eu/node/1356) to *resource* [European Population Distribution](https://csis-dev.myclimateservice.eu/node/754).

[2020-08-07 13:25] p-a-s-c-a-l opened #53 "Layer Mortality rate increase (Heat Waves)"
Risk/Impact maps should be limited to:
- Mortality rate increase (Heat Waves)
- Outdoor discomfort (Heat Waves) - I think you named the layer "Heat Waves impact" as from the impact calculation discomfort.doc.. my mistake

_Originally posted by @mattia-leone in https://github.com/clarity-h2020/csis/issues/154#issuecomment-669331990_

[2020-08-07 14:03] p-a-s-c-a-l commented on #53
I've renamed "discomfort level" (style `HW_DISCOMFORT_LEVEL`) to "Outdoor discomfort (Heat Waves)" in resource [Heat mortality risk/impact screening](https://csis-dev.myclimateservice.eu/node/1356). I couldn't find layer that represents "Mortality rate increase (Heat Waves)", though. "heat wave impact (1..25)" (style `HW_HEAT_WAVE_IMPACT` ) is something different I guess.

Once a column and style

[2020-08-07 14:13] p-a-s-c-a-l opened #54 "Improve colour scaling of layers"
*(via @DenoBeno)*

_Originally posted by @p-a-s-c-a-l in https://github.com/clarity-h2020/data-package/issues/73#issuecomment-654088923_

[2020-08-07 14:16] p-a-s-c-a-l commented on #54
In addition, it seems that the style for [HW_DISCOMFORT_LEVEL](https://github.com/clarity-h2020/emikat/issues/53#issuecomment-670532796) needs to be adjusted. See https://github.com/clarity-h2020/csis/issues/154#issuecomment-670526066.

[2020-08-08 09:13] humerh commented on #54
Population so OK?
![image](https://user-images.githubusercontent.com/20284964/89706659-1deb2f80-d968-11ea-8d1e-bc7f19101798.png)

[2020-08-08 09:34] DenoBeno commented on #54
Definitely better that green.  Need to see how it look on a map.

On Sat, 8 Aug 2020, 11:13 Heinrich Humer, <notifications@github.com> wrote:

[2020-08-08 09:41] humerh commented on #54
I found an error.
Is it now ok?

[2020-08-08 10:00] DenoBeno commented on #54
I look online and found that there are three layers showing population now.
Red one look better IMO, but it's good to have a choice.

I think that we can lave it at that now.

[2020-08-08 10:11] DenoBeno commented on #54
Here they are
![Screenshot_20200808-115154](https://user-images.githubusercontent.com/2961790/89707616-2b0c1c80-d970-11ea-94cd-b46bb64dd4e6.png)

![Screenshot_20200808-114949](https://user-images.githubusercontent.com/2961790/89707619-32332a80-d970-11ea-9582-221ebe71add6.png)

[2020-08-08 10:38] DenoBeno commented on #54
I looked at discomfort levels map in Linz again,  looks correct now.
https://csis-dev.myclimateservice.eu/study/37/step/1643/view/maps

For historical /yearly events, it's quite colorful now.

[2020-08-08 10:40] DenoBeno commented on #54
By the way,  I believe that using the north European scales in Vienna and Linz is misleading.  Especially Vienna has warm continental summers.

[2020-08-31 07:07] #51 closed, assigned to humerh

[2020-08-31 07:08] #52 closed, assigned to humerh

[2020-08-31 07:08] #53 closed, assigned to therter, humerh

[2020-08-31 07:08] #54 closed, assigned to humerh

[2020-08-31 07:08] #50 closed, assigned to therter, humerh

[2020-08-31 07:09] #42 closed, assigned to humerh, claudiahahn, RobAndGo

[2020-08-31 07:09] p-a-s-c-a-l commented on #36
done

[2020-08-31 07:09] #36 closed, assigned to stefanon, humerh, claudiahahn, RobAndGo

[2020-08-31 07:09] #17 closed, assigned to DenoBeno, humerh, patrickkaleta